<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<th:block th:fragment="connection">
<!-- [배경영상 css] -->
	<link rel="stylesheet" href="css/backgroundVideo.css"/>
<!-- /[배경영상 css] -->

	<div id="backgroundVideo">
			<!-- [배경 영상] -->
				<video  autoplay="autoplay" loop="loop" muted="muted">
				<source src="video/background_video.mp4" type="video/mp4">
				</video>
			</div>

<!-- 
<h1>Hi This is we</h1>
<h2>member 여러분</h2> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">





















<!-- 

<h1>홈화면</h1>
<h3><a th:href="@{/thisiswe/club}">모임</a></h3>
<hr>
<h3><a th:href="@{/thisiswe/place}">장소</a></h3>

<div class="header" style="position:relative;">
<div id="header-title-login-user">
<span th:text="${userNickname}"></span> 님의

<button id="login-id-btn" onclick="location.href='/login/signup'">
			회원 가입하기</button>
</div>
 
<form id="my_form" method="post" action="/thisiswe/logout">
<a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
</form>

</div>
<div class="nav">
<div class="nav-see active">
모아보기"src/main/resources/templates/mypage/main.html"
</div>
<div class="nav-search">
탐색하기
</div>
</div>
<div id="see-area">
<div id="product-container">
</div>
</div>
<div id="search-area">
<div>
<input type="text" id="query"> -->
<!-- <img src="images/icon-search.png" alt="">-->
<!-- 
</div>
<div id="search-result-box">
</div>
<div id="container" class="popup-container">
<div class="popup">
<button id="close" class="close">
</button>
</div>
</div>
</div> -->

</th:block>

