<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>홈페이지</title>
</head>
<body>
<h1>Hi This is we</h1>
<h2>member 여러분</h2>
<div>저는 this is we (2조) 조장 레오 입니다.</div>

<prv>
모임	→	-등록
		-삭제
		-수정
		
게시판	→	-등록				
		-삭제				
		-수정				
		-검색				
		-12345페이지번호				
		-리스트보기				
		-상세보기	→	-댓글	→	-목록
						-등록
						-삭제
						-수정
						
사진첩	→	-등록				
		-수정				
		-삭제				
		-상세보기	→	-댓글	→	-목록
							-등록
							-삭제
							-수정
						
예약	→	-등록				
		-수정				
		-삭제				
		-상세보기				
</prv>


</body>
</html>