<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">



		<!-- 네비창 (정보, 게시판, 사진첩) -->
		모임번호 :	<input class="clubNum" name="clubNum"
			th:value="${clubNum}" readonly="readonly">
		<table border="1">
			<tr>
				<td><a th:href="@{/thisiswe/club/(num=${clubNum})}">정보</a></td>
				<td><a
					th:href="@{/thisiswe/club/board/(num=${clubNum})}">게시판</a></td>
				<td><a
					th:href="@{/thisiswe/club/photo/(num=${clubNum})}">사진첩</a></td>
				<td><a th:href="@{/room}">채팅방</a></td>

			</tr>
		</table>
		<!-- /네비창 (정보, 게시판, 사진첩) -->

		<!-- 내용 -->
		<h1>사진첩 목록</h1>
		<!-- 사진등록버튼 -->
		<a th:href="@{/thisiswe/club/photo/register(num=${clubNum})}">
			<button type="button">사진등록</button>
		</a>

		<hr>
		<div th:each="photoDTO : ${photoDTOList}">
			<!-- 사진등록버튼 -->
			모임번호 : <input class="clubNum" th:value="${photoDTO.clubNum.clubNum}"> <br>
			사진번호 : <input class="photoNum" th:value="${photoDTO.photoNum}"><br> 등록유저
			: <input th:value="${photoDTO.userId.userId}"><br> <img
				th:src="|/display?fileName=${photoDTO.photoPath}|">
			<button type="button" onclick="photoRemove()">사진삭제</button>
			[[${photoDTO.photoPath}]]
			<hr>
		</div>

		<!-- /내용 -->

<script>
	function photoRemove(){
		let photoNum = $(".photoNum").val();
		let clubNum = $(".clubNum").val();
		alert("사진 번호 : "+photoNum);
		$.ajax({
			url:"/thisiswe/club/photo/remove/"+photoNum,
			method:"delete",
			success : function(result){
				console.log("삭제결과 : "+result)
				if(result=="success"){
					alert("사진이 삭제 되었습니다.")
					let url ="/thisiswe/club/photo/?num="+clubNum;
					location.replace(url)
				}
			}
			
		})
		
	}
</script>


	</th:block>

</th:block>