@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

/* 프로젝트 포인트 색상(임의 01) : #e4481b; - 주황색 */
/* 프로젝트 포인트 색상(임의 02) : #0d5718; - 초록색 */

* {
	font-family: 'Nanum Gothic', sans-serif;
}
/* [club] club의 네비 리스트 */
.top-inner{
	height: 80px;	
}
.top-inner-ta{
	margin: auto;
	padding: 30px 0px 30px 0px;
	background-color: #f9f9f9;	
}
.ta-li{
	padding: 0px 10px 0 10px;
	color: gray;
	font-size: 20px;
}
/* [club] club의 네비 리스트 */
/* [START][board-공통으로 들어가는 부분] */
.inner {
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
/* 	background-color: #f0f0f0; */
}
div>h1 {
	text-align: center;
}
.board-section {

}
/* [END][board-공통으로 들어가는 부분] */
/* [-------------------------------------------------------------------] */

/* [START] board_list.html  */
/* [START] 게시판 전체 목록 부분 */
.board-regi{
	overflow: hidden;
	position: relative;
	width: 100%;
	font-size: 1.6rem;
}
.searchBtn-regi{
	height: 45px;
	border: 1px solid #e0e0e0;
	background-color: white;
	width: 100px;
	padding: 10px;
	cursor: pointer;
	float: right
}
/* [START] 검색창 첫번째 div 부분 */
.board-search {
	overflow: hidden;
}

.board-search_sub{
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 100%;
	font-size: 1.6rem;
	text-align: right;
}

#searchForm {
	margin-left: 20px;
	margin-top: 25px;
}

#searchColumn {
	height: 45px;
	border: 1px solid #e0e0e0;
	padding: 0 0 0 10px;
	background-size: 23px;
	cursor: pointer;
}

#searchWord {
	height: 45px;
	border: 1px solid #e0e0e0;
	width: 250px;
	padding: 0 0 0 10px;
	background-size: 23px;
	cursor: pointer;
}

.searchBtn {
	height: 45px;
	border: 1px solid #e0e0e0;
	background-color: white;
	width: 60px;
	padding: 10px;
	cursor: pointer;
}

.board-table {
	width: 100%;
	border-spacing: 0;
	word-break: break-all;
	text-indent: initial;
	border-top: 1px solid #000000;
}
.board-li-th {
	height: 55px;
	background-color: #f0f0f0;
    font-size: inherit;
    vertical-align: middle;
    -webkit-text-size-adjust: none;
    list-style: none;
    line-height: 1;
    letter-spacing: -1px;
    color: black;
}

.board-li-tb{
    font-size: inherit;
    -webkit-text-size-adjust: none;
    list-style: none;
    line-height: 1;
    letter-spacing: -1px;
}
.bd-con{
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
}
.bd-cate-sub {	
	display: inline-block; 
    height: 28px;
    padding: 0 4px;
    text-align: center;
    border: 1px solid #e4481b;
    color: #e4481b;
    line-height: 26px;
  	border-radius: 5px;
}

.paginate{
	width: 100%;
    margin: 50px 0 20px;
    text-align: center;
}
.paginate-link{
	display: inline-block;
    width: 38px;
    height: 36px;
    margin-right: 5px;
    border: 1px solid #d9d9d9;
    color: #666;
    line-height: 34px;
    vertical-align: middle;
}

/* [START] 검색 목록 부분 */

/* [END] 검색 목록 부분 */
/* [END] 검색창 첫번째 div 부분 */

/* [END] board_list.html  */
/* [-------------------------------------------------------------------] */

/* [START] board_register.html  */
.board-ri-table {
	width: 54%;
	margin: 3% -30% 0% 23%;
	border-spacing: 0;
	word-break: break-all;
	text-indent: initial;
	border-top: 1px solid #000000;
}
.board-ri-th {
	width: 100%;
	height: 50px;
	background-color: #f0f0f0;
    font-size: inherit;
    vertical-align: middle;
    -webkit-text-size-adjust: none;
    list-style: none;
    line-height: 1;
    letter-spacing: -1px;
}
.bd-contain {
	position: relative;
	width: 50%;
}
.bd-input{
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 50px;
	text-align: center;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
}
.bd-input-co {
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 300px;
	text-align: center;
  	width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
}
.bd-input:focus, .bd-input-co:focus{
    outline: none;
    border: 2px solid #e7e7e7;
    border-color: #e4481b;
}
.searchBtn-mi {
	margin: 0 5px 0 5px;
	height: 45px;
	border: 1px solid #e0e0e0;
	background-color: white;
	width: 70px;
	padding: 10px;
	cursor: pointer;
}
.board-rigi-Btn {
	text-align: center;
}
/* [END] board_register.html  */
/* [-------------------------------------------------------------------] */

/* [START] board_read.html  */
.board-re-table {
	width: 54%;
	margin: 3% -30% 0% 23%;
	border-spacing: 0;
	text-indent: initial;
	border-top: 1px solid #000000;
/* 	background-color: blue; */
}
.board-re-th {
	width: 100%;
	height: 50px;
	background-color: #f0f0f0;
    font-size: inherit;
    vertical-align: middle;
    -webkit-text-size-adjust: none;
    list-style: none;
    line-height: 1;
    letter-spacing: -1px;
}
.bd-re-contain {
	position: relative;
	width: 50%;
}
.bd-re-input{
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 50px;
	text-align: center;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    overflow: auto;
}
.bd-re-input-co {
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 300px;
	text-align: center;
  	width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    overflow: auto;
}
.bd-re-input:focus, .bd-re-input-co:focus{
    outline: none;
    border: 2px solid #e7e7e7;
    border-color: #e7e7e7;
}
.searchBtn-mi {
	margin: 0 5px 0 5px;
	height: 45px;
	border: 1px solid #e0e0e0;
	background-color: white;
	width: 70px;
	padding: 10px;
	cursor: pointer;
}
.board-rigi-Btn {
	text-align: center;
}
/* [END] board_read.html  */
/* [-------------------------------------------------------------------] */

/* [START] board_modify.html  */
.board-mo-table {
	width: 54%;
	margin: 3% -30% 0% 23%;
	border-spacing: 0;
	text-indent: initial;
	border-top: 1px solid #000000;
/* 	background-color: blue; */
}
.board-mo-th {
	width: 100%;
	height: 50px;
	background-color: #f0f0f0;
    font-size: inherit;
    vertical-align: middle;
    -webkit-text-size-adjust: none;
    list-style: none;
    line-height: 1;
    letter-spacing: -1px;
}
.bd-mo-contain {
	position: relative;
	width: 50%;
}
.bd-mo-input{
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 50px;
	text-align: center;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    overflow: auto;
}
.bd-mo-input-co {
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 300px;
	text-align: center;
  	width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    overflow: auto;
}
.bd-mo-input:focus, .bd-mo-input-co:focus{
    outline: none;
    border: 2px solid #e7e7e7;
    border-color: #e7e7e7;
}
/* [START] modify - 수정하는 부분만 */
.bd-modi-input{
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 50px;
	text-align: center;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    overflow: auto;
}
.bd-modi-input-co {
	margin: 3px 0 3px;
	padding: 0 5px 0 5px 10px;
	height: 300px;
	text-align: center;
  	width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    overflow: auto;
}
.bd-modi-input:focus, .bd-modi-input-co:focus{
    outline: none;
    border: 2px solid #e7e7e7;
    border-color: #e4481b;
}
/* [END] modify - 수정하는 부분만 */
.searchBtn-mi {
	margin: 0 5px 0 5px;
	height: 45px;
	border: 1px solid #e0e0e0;
	background-color: white;
	width: 70px;
	padding: 10px;
	cursor: pointer;
}
/* [END] board_modify.html  */
