@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

/* 프로젝트 포인트 색상(임의 01) : #e4481b; - 주황색 */
/* 프로젝트 포인트 색상(임의 02) : #0d5718; - 초록색 */
/* 프로젝트 포인트 색상(팬톤 올해의 컬러 2023) : #BB2649; - 비바마젠타 */

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Nanum Gothic', sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
}

#sign-in {
	margin-top: 250px;
	margin-bottom: 250px;
	text-align: center;
}
/* 로그인 */
#sign-in>span {
	font-size: 32px;
	font-weight: bold;
}

#sign-in>form {
	display: inline;
}
#sign-in>form>input {
	margin:  8px;
	padding-left: 8px;
	width: 400px;
	height: 50px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
}
#input-target:focus{
    outline: none;
    border: 2px solid #e7e7e7;
    border-color: #808080;
}
#sign-in>form>input#input-target::placeholder {
	color: #d8d8d8;
}

#login-status {
	position: relative;
	margin: 10px;
}
#login-status>input {
	accent-color: #a1a1a1;
	position: relative;
	width: 20px;
	height: 20px;
	margin: 5px auto;
	cursor: pointer;
}

#login-status>span {
	position: relative;
	left: 2px;
	bottom: 3px;
}

#sign-in>form>span#찾기 {
	position: relative;
	left: 43px;
}

#sign-in>form>span#찾기>a {
	color: gray;
	font-size: 13px;
	text-decoration: none;
}

div#sign-in>form>input#login-button {
	position: relative;
	width: 197px;
	right: 3px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: black;
	cursor: pointer;
}

div#sign-in>a#signup-button {
	position: relative;
	width: 197px;
	height: 49px;
	bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: black;
	cursor: pointer;
}

div#sign-in>a#signup-button>span {
	position: relative;
	top: 12px;
}

/* 카카오 로그인 */
div#sign-in>a#kakao-signin {
	position: relative;
	height: 50px;
	width: 410px;
	border-radius: 10px;
	background-color: #ffde00;
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

div#sign-in>a#kakao-signin:link {
	color: black;
}

div#sign-in>a#kakao-signin>span {
	position: relative;
	top: 14px;
}
