@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 프로젝트 포인트 색상(임의 01) : #e4481b; - 주황색 */
/* 프로젝트 포인트 색상(임의 02) : #0d5718; - 초록색 */
/* 프로젝트 포인트 색상(팬톤 올해의 컬러 2023) : #BB2649; - 비바마젠타 */

body{
	margin: 0 auto;
	width: 100%;
   	height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}
/* 회원가입 */
#signup {
    margin: auto;
    height: 100%;
    width: 700px;
    text-align: center;
}
.signup-title{
	margin-top: 60px;
	padding : 30px 0 30px 0;
	font-size: 30px;
	font-weight: 700;
    letter-spacing: 10px;
    text-indent: 12px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
}
.singup-sub{
	margin-left: 5px;
	font-size: 16px;
    font-weight: 600;
    color: #2f2f2f;
}
.singup-sub-view{
	display: none;
	margin-left: 5px;
	font-size: 16px;
    font-weight: 600;
    color: #2f2f2f;
}
.signup-one{
    margin-left: 30px;
    /* margin-right: 30px; */
    padding-left: 40px;
    position: relative;
    border-radius: 20px;
    text-align: left;
    top: 30px;
}
.signup-box{
	margin: 10px 5px 13px 5px;
    padding: 5px 3px 5px 3px;
    border: 1px white;
    border-bottom: solid 1px #b2b2b2;
    outline: white;
    width: 400px;
}
.signup-box-code{
	display: none;
	margin: 10px 5px 10px 5px;
    padding: 5px 3px 5px 3px;
    border: 1px white;
    border-bottom: solid 1px #b2b2b2;
    outline: white;
    width: 400px;
}
.signup-box-admin{
	display: none;
	margin: 10px 5px 10px 5px;
    padding: 5px 3px 5px 3px;
    border: 1px white;
    border-bottom: solid 1px #b2b2b2;
    outline: white;
    width: 400px;
}
.one-box {
	accent-color: #BB2649;
}
.signup-box::placeholder , .signup-box-admin::placeholder{
     color: #b1b1b1;
}
/* 아이디·닉네임·이메일 인증 */
.certification{
	background: #ffffff;
	color: #363636;
	height: 30px;
	width: 90px;
	font-weight: 600;
	border: 1px solid #868686;
	border-radius: 12px;
	cursor: pointer;
}
.certification-email-view{
	display: none;
	background: #ffffff;
	color: #363636;
	height: 30px;
	width: 90px;
	font-weight: 600;
	border: 1px solid #868686;
	border-radius: 12px;
	cursor: pointer;
}
.certification-email{
	background: #fff;
	color: #363636;
	height: 30px;
	width: 120px;
	font-weight: 600;
	border: 1px solid #868686;
	border-radius: 12px;
	cursor: pointer;
}
.certification:hover, .certification-email-view:hover{
	background: #4c4c4c;
	color: #fff;
	height: 30px;
	width: 90px;
	font-weight: 600;
	border: 1px solid #4c4c4c;
	border-radius: 12px;
}
.certification-email:hover{
	background: #4c4c4c;
	color: #fff;
	height: 30px;
	width: 120px;
	font-weight: 600;
	border: 1px solid #4c4c4c;
	border-radius: 12px;
}
/* 회원가입 검증 */
.verification{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    color: #BB2649;
    bottom: 10px;
    margin-left: 8px;
}
/* 동의 */
.All-agree-box{
	margin: 30px 80px 15px 80px;
	padding: 5px 0 5px 30px;
/* 	border: 1px solid #d8d8d8; */
	border-radius: 20px;
	text-align: left;
}
#All-agree {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}
#All-agree:after {
    content: "";
    display: block;
    width: 420px;
    border-bottom: 1px solid #bcbcbc;
}
#All-agree .agree {
    position: relative;
    right: 8px;
    width: 20px;
    margin: 10px;
    accent-color: #BB2649;
}
.agree {
    position: relative;
    right: 8px;
    width: 20px;
    margin: 10px;
    accent-color: #BB2649;
}
.signup-button-class {
	margin: 15px 0 20px 0;
    pointer-events: none;
    position: relative;
    height: 50px;
    width: 400px;
    background-color: #808080;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
	border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;
}
.signup-button-class:hover, .signup-button-class:focus, .signup-button-class:active, .signup-button-class:after {
	margin: 15px 0 20px 0;
    pointer-events: none;
    position: relative;
    height: 50px;
    width: 400px;
    background-color: #BB2649;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}
.terms{
    position: relative;
    right: 10px;
}