@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 프로젝트 포인트 색상(임의 01) : #e4481b; - 주황색 */
/* 프로젝트 포인트 색상(임의 02) : #0d5718; - 초록색 */
/* 프로젝트 포인트 색상(팬톤 올해의 컬러 2023) : #BB2649; - 비바마젠타 */

body{
	margin: 0 auto;
	width: 100%;
   	height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}

/* 회원가입 */
#signup {
    margin: auto;
    height: 100%;
    width: 700px;
    text-align: center;
    background-color: #d8d8d8;
}
.signup-title{
	margin-top: 70px;
	padding : 30px 0 30px 0;
	font-size: 30px;
	font-weight: 700;
    letter-spacing: 10px;
    text-indent: 12px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #fbfbfb;
}

div#signup>form {
    position: relative;
    text-align: left;
    top: 30px;
    background: red;
}

div#signup>form>span {}

div#signup>form>input {
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px white;
    border-bottom: solid 1px rgb(198, 195, 195);
    outline: white;
    width: 400px;
}

div#signup>form>input#비밀번호확인 {
    margin-top: 8px;
}

div#signup>form>input::placeholder {
    color: rgb(198, 195, 195);
}
/* 검증 */
.verification{
    font-size: 12px;
    font-weight: 500;
    position: relative;    
    color: rgb(252, 11, 11);
    bottom: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* 동의 */
div#signup>form>span#All-agree {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px rgb(198, 195, 195);
    font-weight: 600;
}

div#signup>form>span>input.agree {
    position: relative;
    right: 8px;
    width: 20px;
    margin: 10px;
    accent-color: rgb(139, 139, 139);
}

div#signup>form>input.agree {
    position: relative;
    right: 8px;
    width: 20px;
    margin: 10px;
    accent-color: rgb(139, 139, 139);
}


div#signup>form>input.signup-button-class {
    pointer-events: none;
    position: relative;
    bottom: 17px;
    height: 50px;
    width: 400px;
    background-color: rgb(214, 214, 214);
    color: grey;
    border: white;
    border-radius: 3px;
    padding-top: 9px;
}

div#signup>form>.signup-button-class {
    pointer-events: none;
    position: relative;
    bottom: 17px;
    height: 50px;
    width: 400px;
    background-color: rgb(214, 214, 214);
    color: grey;
    border: white;
    border-radius: 3px;
    padding-top: 9px;
}

.terms{
    position: relative;
    right: 10px;
}