@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

/* 프로젝트 포인트 색상(임의 01) : #e4481b; - 주황색 */
/* 프로젝트 포인트 색상(임의 02) : #0d5718; - 초록색 */

/* [ALL][CSS] header, body, footer */
* {
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	background: #eee;
	font-size: 16px;
	color: #000;
	margin: 10px;
	padding: 10px;
}

html, body {
	position: relative;
	height: 100%;
	background: #FFF;
	color: #303030;
	margin: 0 auto;
	overflow-X: hidden;
	overflow-Y: auto;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #e4481b;
}

/* [수정] header부분 크기 및 간격 조정*/
header {
	/* 	padding-top: 70px; */
	height: 100%;
	padding-top: 120px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}
/* /[수정] header부분 크기 및 간격 조정*/

ul, li {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

ul li {
	display: inline-block;
}

/* [수정] 상단바 햄버거 버튼 */
/* [상단 메뉴바] - top-menu - 전체  */
/* [상단 메뉴바] - top-container -  */
#top-menu {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	background-color: #FFF;
}
.top-container{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #FFF;
}
/* [상단 메뉴바] - container-p -  */
.container-p{
	padding: 41px 0 0 70%;
}
.container-p-ul{
	list-style: none;
}
.container-p-li{
	float: left;
	margin-right: 25px;
}
/* /[상단 메뉴바] - container-p -  */
/* /[상단 메뉴바] - top-container -  */

/* [상단 메뉴바] 홈페이지 상단_로고 및 메뉴 부분*/
#top-menu {
	background: #FFF;
	box-shadow: 0 17px 20px -18px #202020;
	height: 105px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: initial;
	z-index: 9;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(1, 0, 0, 1, 0, 0);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
/* [상단 메뉴바] 홈페이지 상단_로고 및 메뉴 부분*/
/* [햄버거 버튼] - 버튼 내 상자 박스 */
.box {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	background-color: #FFF;
}
/* /[햄버거 버튼] - 버튼 내 상자 박스 */
/* [?] - ? */
html.active #top-menu {
	-webkit-transform: matrix(1, 0, 0, 1, -320, 0);
	-moz-transform: matrix(1, 0, 0, 1, -320, 0);
	transform: matrix(1, 0, 0, 1, -320, 0);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
/* [?] - ? */
/* [?] - ? */
#top-menu .box {
/* 	display: none;
	height: 40px;
	line-height: 40px;
	margin: 0 80px;
	padding: 10px; */
}
/* [?] - ? */
/* [?] - ? */
#top-menu .box>ul {
	display: flex;
}
/* [?] - ? */
/* [?] - ? */
#top-menu .box>ul li {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
/* [?] - ? */
/* [?] - ? */
#overlay {
	background: #000;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 99;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
/* [?] - ? */
/* [?] - ? */
html.active #overlay {
	opacity: .80;
	visibility: visible;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#container-logo {
	width: 90px;
	height: 90px;
	margin: 5px 0px 0px 47%;
	position: fixed;
/*	overflow: hidden;
/* 	text-align: center; */
/* 	display: block; */
/* 	line-height: 50px; */
/* 	box-shadow: inset 0 0 0 2px #FFF, inset 0 0 0 3px #FF5959; */
/*  border-radius: 10px; */
/* 	left: 0; */
/* 	top: 0; */
/* 	margin: 10px 20px 10px 30px; */
/* 	padding: 2px; */
}
.container-logo-l{
	width: 105%;
	height: 105%;
}

.logo {
	font-size: 60px;
	width: initial;
	height: 50px;
	line-height: 40px;
  	margin: 0 auto;
	overflow: hidden;
 	padding: 30px;
	position: relative;
}
.logo-img{
	width: 27%;
	height: 27%;
}
/* [수정예정] 홈페이지 상단바_로고 부분 */
.logo>a {
	display: inline-block;
	margin: 0 auto 0 10px;
	position: relative;
}

.sign-up {
	background-color: #e4481b;
	border: 1px solid #e4481b;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	height: 60px;
	letter-spacing: 1px;
	line-height: 60px;
	margin: 10px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
}

.sign-up:hover {
	background: #FFF;
}

.sign-up a {
	display: block;
}

.sign-up span {
	margin: 0 auto 0 8px;
}

#close-menu {
	border: 1px solid;
	border-radius: 20px;
	color: #909090;
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 25px 17px 0 auto;
	padding: 4px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}

/* [햄버거버튼 메뉴 부분] */
menu {
/* 	right: -320px;
	width: 320px; */
	background-color: #FFF; 
	bottom: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	right: -500px; 
	width: 500px;
	top: 0;
	z-index: 1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

menu .container {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	/* width: 258px; */
	width: 500px;
	-webkit-transform-origin: 0% 50% 0px;
	-moz-transform-origin: 0% 50% 0px;
	transform-origin: 0% 50% 0px;
	-webkit-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
	-moz-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
	transform: matrix(0.8, 0, 0, 0.9, 40, 0);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

menu .container .box {
	height: calc(100% - 33px);
	overflow: visible;
	overflow-Y: scroll;
	/* 	padding: 0 17px 30px 0; */
	padding: 20px 20px 20px 20px;
	position: relative;
	width: 500px;
}

menu .box ul:nth-child(1) {
	border-bottom: 3px solid;
	margin-right: 15px;
}

menu .box ul {
	padding: 20px;
}

/* [추가] 햄버거 버튼 메뉴 li 부분*/
menu ul li {
	border-bottom: 1px solid #EDEDED;
	display: block;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	letter-spacing: 0.12em;
	line-height: 50px;
	text-transform: uppercase;
}

menu ul:nth-child(2) li {
	font-size: 18px;
}

menu ul:nth-child(2) li:last-child {
	border-bottom: 1px solid #EDEDED;
}

menu ul:nth-child(3) li {
	border: 0;
	display: inline-block;
}

menu ul:nth-child(3) li>a {
	border: 1px solid;
	border-radius: 100%;
	color: #898989;
	display: block;
	font-size: 22px;
	height: 24px;
	line-height: 24px;
	margin: 2px 4px;
	padding: 5px;
	text-align: center;
	width: 24px;
}

menu ul li:last-child {
	border: 0;
}
/* /[추가, 수정] 햄버거 버튼 메뉴 li 부분*/
html.active menu {
	right: 0;
	z-index: 999;
}
/* [햄버거 버튼] - menu */
html.active menu .container {
	-webkit-transform-origin: 0% 50% 0px;
	-moz-transform-origin: 0% 50% 0px;
	transform-origin: 0% 50% 0px;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(1, 0, 0, 1, 0, 0);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
/* /[햄버거 버튼] - menu */
/* [햄버거 버튼] - #top-menu - #menu - */
#menu {
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 40px;
	line-height: 40px;
 	top: 0;
	left: 0;
 	margin: 30px 20px;
	position: fixed;
	text-align: center;
}
/* [햄버거 버튼] - #top-menu - #menu - */
@media only screen and (min-width: 520px) {
	#top-menu .container {
		max-width: 640px;
	}
	#top-menu .box {
		display: block;
	}
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 20px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#body-container {
	flex: 1;
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* [나영] font-size-test */
.font-test {
	font-size: 20px;
}
/* /[나영] font-size-test */

/* ----------------------------- 푸터 추가 예정 ---------------------------- */
/* [FOOTER-ALL] - footer - */
footer {
	background: #f4f4f4;
	padding-top: 30px;
	padding-bottom: 30px;
}

#ft-top {
	padding-top: 10px;
	text-align: center;
	font-size: 15px;
}

.footer-bar-list li {
	display: inline;
	border-left: 1px solid #c0c0c0;
	/* 테두리와 메뉴 간격 벌리기. padding: 위 오른쪽 아래 왼쪽; */
	padding: 0px 15px 0px 15px;
	/* 메뉴와 테두리 사이 간격 벌리기. margin: 위 오른쪽 아래 왼쪽; */
	margin: 10px 0px 10px 0px;
}

.footer-bar-list li:first-child {
    border-left: none;
	/* li의 첫번째 요소의 좌측에는 테두리 없애기 */
}

/* [수정] footer 이미지 및 간격 */
#ft-bottom {
	/* width:700px; */
	/* align-items: center; */
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	/* background-color: yellow; */
}
/* /[수정] footer 이미지 및 간격 */
#ft-bottom-left {
	width: 150px;
	margin-right: 30px;
	overflow: hidden;
}

#ft-bottom-left img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* [FOOTER] - footer - 이미지 및 간격 */
#ft-bottom-middle {
	width: 500px;
	padding: 5px;
	text-align: left;
	font-size: 15px;
}

.footer-com-info .divi {
	display: inline;
	border-left: 1px solid #444;
	/* 테두리와 메뉴 간격 벌리기. padding: 위 오른쪽 아래 왼쪽; */
	padding: 0px 15px 0px 15px;
	font-weight: bold;
}
/* [FOOTER] - footer - 이미지 및 간격 */

.footer-com-info .divi:first-child {
	/* li의 첫번째 요소의 좌측에는 테두리 없애기 */
	border-left: none;
	padding-left: 0px;
}

.footer-com-info li {
	display: block;
}

.footer-com-info .info-space {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* [FOOTER] - footer - 폰트 간격 및 색상 */
.footer-com-info .info-space-plus {
	font-size: 15px;
	line-height: 15px;
}

.footer-com-info .info-copyright {
	margin-top: 20px;
	font-size: 12px;
	color: gray;
}

#ft-bottom-right {
	width: 200px;
	margin-left: 25px;
}

#ft-bottom-right img {
	vertical-align: middle;
	margin-top: 120px;
	width: 50%;
	padding: 0px 9px 0px 9px;
}
/* /[FOOTER] - footer - 폰트 간격 및 색상 */
/* /[FOOTER-ALL] - footer - */

/* [ALL][CSS] header, body, footer */