body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}

#modify {
	margin: auto;
	height: 100%;
	width: 700px;
	text-align: left;
	/* 추가 */
}

.userinfo-title {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
	padding: 30px 0 30px 0;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 10px;
	text-indent: 12px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid black;
}

#id-container {
	margin-bottom: 30px;
}

.modify-sub {
	margin-top: 60px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #2f2f2f;
}

.modify-image-top {
	margin-top: 60px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #2f2f2f;
}

.modify-pwd-top {
	margin-top: 60px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #2f2f2f;
}

.modify-nickname-top {
	margin-top: 30px;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 600;
	color: #2f2f2f;
}

.back-container {
	text-align: right;
}

#cancel-button {
	height: 30px;
	width: 120px;
	margin-top: 30px;
	margin-left: 50px;
	color: #2f2f2f;
}

.modify-sub-input {

	margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
	color: #2f2f2f;
}

.image-modify {
	margin-left: 5px;
	font-size: 16px;
	font-weight: 600;
	color: #2f2f2f;
}


.change-image-container {
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.change-pwd-container {
	position: relative;
	display: inline-block;
	margin-top: 300px;
}

.change-nickname-container {
	position: relative;
	display: inline-block;
	margin-top: 200px;
}


#nickname-modify-container {
	position: absolute;
	margin-bottom: 30px;
	top: 0;
	left: 300px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
}

#pwd-modify-container {
	position: absolute;
	margin-bottom: 30px;
	top: 0;
	left: 300px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
}

#image-modify-container {
	position: absolute;
	margin-bottom: 30px;
	top: 0;
	left: 300px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
}


.imageModifyBox {
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
}

.ImagemodifyBtn {
	margin-top: 10px;
}

#previewImage {
	width: 250px;
	height: 250px;
}