<<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
	
	
	
	<!-- 내용 -->
	<title>모임 등록페이지</title>
	<h1>모임 등록페이지</h1>
	
	<hr>
		<a th:href="@{/club/club_list}">모임목록</a>
		<hr>
		<a th:href="@{/club/club_modify}">모임수정</a>
		<hr>
		<a th:href="@{/club/club_read}">모임상세</a>
		<hr>
		<a th:href="@{/club/club_register}">모임등록</a>
		<hr>
	<!-- /내용 -->
	
	
	
	</th:block>

</th:block>