<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">

		<!-- club.css 연결 -->
		<link rel="stylesheet" th:href="@{/css/club.css}" />
		<!-- /club.css 연결 -->

		<!-- 내용 -->
		<title>모임 목록페이지</title>

		<tbody>
			<tr>
				<!-- "result" 위치 :  clubController GetMapping "/list" ~~~~ .clubLogoList-->
				<th></th>
			</tr>
		</tbody>

		<!-- 모임 전체 목록 -->
		<div class="inner-club">
			<h2>이런 모임은 어떠신가요?</h2>

			<!-- 모임 등록 버튼 -->
			<div class="club-regi">
				<a th:href="@{/thisiswe/register}"> <span>
						<button type="button" class="searchBtn-regi">모임등록</button>
				</span>
				</a>
			</div>
			<!-- /모임 등록 버튼 -->
			<br><br>
			
			<!-- list 1 -->
			<!-- 코드가안됨 -->
			<div class="club-tableList"> 
				<div class="club-table">
					<div class="club-table-li clubRead" th:each="clubDTO : ${result}">
							<input type="hidden" class="clubNum" th:value="${clubDTO.clubNum}">
						<img th:src="${clubDTO.clubLogoUrl}">
						<div class="club-table-liRe">
							<a th:href="@{/club/read}"></a>
						</div>
						<div class="club-table-liRe divclub">
							<a class="clubNum club-liData" th:href="@{/thisiswe/club/(num=${clubDTO.clubNum})}"> [[${clubDTO.clubName}]]</a>
						</div>
						<div class="club-table-liRe">&nbsp;&nbsp;&nbsp;장소 :&nbsp; <span class="liReData">[[${clubDTO.clubPlace}]]</span></div>
						<div class="club-table-liRe">카테고리 :&nbsp; <span class="liReData">[[${clubDTO.clubCategory}]]</span></div>
						<div class="club-table-liRe">&nbsp;인원 :&nbsp; <span class="liReData">[[${clubDTO.clubHeadCount}]]명</span></div>
						<div class="club-table-liRe">모임장 :&nbsp; <span class="liReData">[[${clubDTO.userNickname}]]</span></div>
					</div>
				</div>
			</div>
		
			<!-- 빈 박스 -->
			<div class="spaceBox"></div>
			<!-- /빈 박스 -->
		
			<!-- 검색 -->
			<div class="club-search">
				<div class="club-search_sub">
					<form id="searchForm" th:action="@{/thisiswe/club}" th:method="get">
						<select id="searchColumn" name="type">
							<option th:selected="${pageRequestDTO.type==null}">------</option>
							<option th:selected="${pageRequestDTO.type=='N'}" value="N">모임명</option>
							<!-- <option th:selected="${pageRequestDTO.type=='C'}" value="C">내용</option> -->
							<option th:selected="${pageRequestDTO.type=='G'}" value="G">카테고리</option>
							<option th:selected="${pageRequestDTO.type=='P'}" value="P">지역</option>
						</select> <input type="text" id="searchWord" name="keyword"
							th:value="${pageRequestDTO.keyword}">
						<button type="submit" class="searchBtn">검색</button>
					</form>
				</div>
			</div>
			<!-- /검색 -->

			<!-- 페이지 부분 : 이동, 이전, 다음 -->
			<div class="paginate">
				<ul class="">
					<!-- 이전버튼 -->
					<li class="link-page active" th:if="${Page.prev}">
						<a class="paginate-link" th:href="@{/thisiswe/club(page=${Page.start-1},
																		   type=${pageRequestDTO.type},
																		   keyword=${pageRequestDTO.keyword})}"
						tabindex="-1">이전</a>
					</li>
					<!-- 페이지 버튼 -->
					<li th:each="page: ${resultPage}">
						<a class="paginate-link" th:href="@{/thisiswe/club(page=${page},
                                        					  			   type=${pageRequestDTO.type},
                                      						  			   keyword=${pageRequestDTO.keyword}
  
                            )}">[[${page}]]</a>
					</li>
					<!-- 다음버튼 -->
					<li class="link-page-active" th:if="${Page.next}">
						<a class="paginate-link" th:href="@{/thisiswe/club(page=${Page.end},
  																		   type=${pageRequestDTO.type},
  																		   keyword=${pageRequestDTO.keyword})}"
						tabindex="-1">다음 </a>
					</li>
				</ul>
			</div>
			<!-- /페이지 부분 : 이동, 이전, 다음 -->					
		<!-- /모임 전체 목록 -->
		<!-- /내용 -->
		</div>
		
	</th:block>
</th:block>
<script type="text/javascript">
	$(".clubRead").on("click", function(){
		console.log((this));
		var clubNum=$(this).children(".clubNum").val();
		console.log(clubNum);
		location.href="/thisiswe/club/?num="+clubNum;
	})

	$(".clubNum").on("click", function() {
		console.log("모임 상세 클릭");
	})
</script>