<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">

		<!-- club.css 연결 -->
		<link rel="stylesheet" th:href="@{/css/club.css}" />
		<!-- /club.css 연결 -->

		<!-- 내용 -->
		<title>모임 상세페이지</title>

		<!-- 모임번호 받아오는 input -->
		<input type="hidden" class="club-ce clubNum" name="clubNum"
			th:value="${readDTO.clubNum}" readonly="readonly">

		<!-- 네비창 (정보, 게시판, 사진첩) -->
		<div class="top-inner">
			<div class="top-inner-ul">
				<ul class="top-inner-menu top-inner-eff">
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/(num=${readDTO.clubNum})}"> <span>INFO</span>
					</a></li>
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/board/(num=${readDTO.clubNum})}"> <span>BOARD</span>
					</a></li>
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/photo/(num=${readDTO.clubNum})}"> <span>PHOTO</span>
					</a></li>
					<li class="ta-li"><a th:onclick="testGoRoom([[${readDTO.clubNum}]], [[${readDTO.clubName}]])">chat</a></li>
				</ul>
			</div>
		</div>
		<!-- /네비창 (정보, 게시판, 사진첩) -->

		<!-- 모임 전체 목록 -->
		<div class="inner-club" style="margin-left: 1%;">
			<h2 style="margin-left: -1%">모임 상세페이지</h2>

			<br> <input type="hidden" class="club-ce userId"
				th:value="${user}" name="userId"> <br>

			<!-- 모임 수정 버튼 -->
			<div class="club-re-Btn">
				<a th:href="@{/thisiswe/modify(num=${readDTO.clubNum})}">
					<button type="button" class="searchBtn-mi">수정</button>
				</a>
				<button type="button" class="searchBtn-mi" onclick="clubRemove()">삭제</button>
				<button type="button" class="searchBtn-mi"
					onclick="memberRegister()">가입</button>
			</div>
			<!-- /모임 수정 버튼 -->

			<div class="club-table">
				<div class="club-table-read">

					<!-- 로고이미지 -->
					<div>
						<div class="club-LogoImage">
							<img th:src="|/display?fileName=${readDTO.clubLogoUrl}|">
						</div>
					</div>

					<table class="club-re-ca">
						<!-- userID -->
						<tr>
							<th class="club-ri-th">모임장</th>
						</tr>
						<tr>
							<td class="cl-re-contain">
							<input type="hidden" class="cl-re-input-fi"
								name="userId" th:value="${readDTO.userId}" readonly="readonly">
							<input class="cl-re-input"
								name="userNuckname" th:value="${readDTO.userNickname}" readonly="readonly">
							</td>
						</tr>
						<!-- 모임명 -->
						<tr>
							<th class="club-ri-th">모임명</th>
						</tr>
						<tr>
							<td><input class="cl-re-input" name="clubName"
								th:value="${readDTO.clubName}" readonly="readonly"></td>
						</tr>
						<!-- 모임설명 -->
						<tr>
							<th class="club-ri-th">모임설명
							<th>
						</tr>
						<tr>
							<td><textarea class="cl-re-input-co" name="clubContent"
									readonly="readonly">[[${readDTO.clubContent}]]</textarea></td>
						</tr>
						<!-- 지역 -->
						<tr>
							<th class="club-ri-th">지역</th>
						</tr>
						<tr>
							<td><input class="cl-re-input" name="clubPlace"
								th:value="${readDTO.clubPlace}" readonly="readonly"></td>
						</tr>

						<!-- 카테고리 -->
						<tr>
							<th class="club-ri-th">관심사 카테고리</th>
						</tr>
						<tr>
							<td><select class="cl-re-input" size="1" name="clubCategory"
								required="required">
									<option th:value="${readDTO.clubCategory}" selected="selected">[[${readDTO.clubCategory}]]</option>
							</select></td>
						</tr>

						<!-- 모임정원 -->
						<tr>
							<th class="club-ri-th">모임 정원</th>
						</tr>
						<tr>
							<td><input class="cl-re-input" name="clubHeadCount"
								th:value="${readDTO.clubHeadCount}" type="number" min="1"
								max="300" readonly="readonly"></td>
						</tr>
						<!-- /모임정원 -->
					</table>
				</div>
				<hr>

				<!-- 모임 일정표 -->
				<div class="club-table">
					<div class="club-table-read">
						<h2>SCHEDULE</h2>
						<div class="club-re-Btn">
							<a
								th:href="@{/thisiswe/club/calendar/register/(num=${readDTO.clubNum})}">
								<button type="button" class="searchBtn-mi">등록</button>
							</a>
						</div>
						
					<div class="club-table-read-cal">
						<div class="club-table-cal-li" th:each="calendarDTO : ${calendarDTOList}">
							<ul class="club-re-ca-ul calendarRead">
							<input class="read" type="hidden" th:value="${calendarDTO.clubCalendarNum}">
								<li th:class="'club-re-ca-li clubCalendarNum'+${calendarDTO.clubCalendarNum}"></li>
								<li class="club-re-ca-li-title">
									<a th:href="@{/thisiswe/club/calendar/read(num=${calendarDTO.clubCalendarNum})}">
										[[${calendarDTO.clubCalendarTitle}]]
										</a>
								</li>
								<li class="club-re-ca-li">[[${calendarDTO.clubCalendarDate}]]</li>
								<li class="club-re-ca-li">[[${calendarDTO.clubCalendarTime}]]</li>
								<li class="club-re-ca-li">
									<img src="/image/icon_location.svg">[[${calendarDTO.clubCalendarPlace}]]
								</li>
								<li class="club-re-ca-li">[[${calendarDTO.clubCalendarPrice}]]원</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
			<!-- /모임 일정표 -->
					<!-- 
					<tr>
						<td rowspan="3">달력이미지</td>
						<td>날짜 : <input type="date"></td>
					</tr>

		

					<tr>
						<td>장소 : <input type="text">
						</td>
					</tr>
		
					<tr>
						<td>모임비 : <input type="text">
						</td>
					</tr>
					 -->
				<!-- /모임 일정표 -->

			</div>
			<!-- /내용 -->
		</div>
		<!-- /모임 전체 목록 -->

		<script th:inline="javascript">
		/* ul 클릭시 일정상세정보로 넘기기 */
		$(".calendarRead").on("click",function(){
			
			var clubCalendarNum= $(this).children(".read").val();
			console.log(clubCalendarNum);
			
			location.href="/thisiswe/club/calendar/read?num="+clubCalendarNum;
		})
		
			function clubRemove() {

				var clubNum = $(".clubNum").val();

				$.ajax({
					url : "/thisiswe/remove/" + clubNum,
					method : "delete",
					success : function(result) {

						console.log("삭제결과값 : " + result)
						if (result == "success") {
							//alert(clubNum + "모임이 삭제되었습니다.")
							let url = "/thisiswe/club";

							location.replace(url);
						}
					}

				})
				console.log(clubNum + "번 모임");
			}

			function memberRegister() {
				var clubNum = $(".clubNum").val();
				var userId = $(".userId").val();
				var role = 0;

				console.log("모임번호 : " + clubNum);
				console.log("유저ID : " + userId);

				//club에 member 등록 처리
				$.ajax({
					url : "/thisiswe/club/member",
					type : 'POST',
					data : JSON.stringify({
						clubNum : clubNum,
						userID : userId,
						clubMemberRole : role
					}),
					contentType : "application/json; charset=UTF-8",
					dataType : "json",
					success : function(data) {
						if (data == true) {
							alert("가입 성공");
							console.log(data);
						} else {
							alert("이미 가입된 멤버입니다.");
							console.log(data);
						}
					},
					error : function() {
						alert("가입 실패");
					}
				})
			}

			/* function memberRegister(){
			   var clubNum = $(".clubNum").val();
			   console.log("모임번호 : "+clubNum);
			      var params = {
			          num : clubNum
			      }
			      
			      $.ajax({
			           url: "/thisiswe/club/member",
			           type: "POST",
			           data: params,
			           success: function(data){
			               console.log(data);
			               alert("성공하였습니다.");
			           },
			           error: function(){
			               alert("데이터 통신중 에러발생");
			           }
			       });
			   } */
		</script>
		<script>
			function testGoRoom(number, name) {
				console.log("채팅 메서드 실행 됨");
				let openWin = window.open("/moveChating?roomName=" + name + "&"
						+ "roomNumber=" + number, "팝업 테스트",
						"width=350, height=700, top=2050, left=2000");

			}
		</script>

	</th:block>
</th:block>