<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
	
	
	
	<!-- 내용 -->
	<title>모임 목록페이지</title>
	
	<tbody>
		<tr> <!-- "result" 위치 :  clubController GetMapping "/list" ~~~~ .clubLogoList-->
			<th></th>
		</tr>
	</tbody>
	
	
	
		<div> 
		<h1>이런 모임은 어떠세요?</h1>
		</div>
		
		<!-- 모임등록버튼 -->
		<a th:href="@{/club/register}">
			<button type="button">모임등록</button>		
		</a>
		<br>
		<!-- /모임등록버튼 -->

<!-- list 1 -->

	<table border="1"th:each="clubDTO : ${list}">
  <tr>
    <th colspan="3"><a th:href="@{/club/read}">이미지</a></th>
  </tr>
  <tr>
    <td colspan="3" ><a class="clubNum" th:href="@{/club/read(Num=${clubDTO.clubNum})}"
    >[[${clubDTO.clubName}]]모임명</a></td>
  </tr>
  <!-- tr에 가져올 데이터 세팅 -->
  <tr >
    <td >지역 [[${clubDTO.clubPlace}]]</td>
    <td>인원 [[${clubDTO.clubHeadCount}]]</td>
    <td>닉네임 [[${clubDTO.userNickname}]]</td>
  </tr>
  
</table>

<br>


		<hr>
		<a th:href="@{/club/club_list}">모임목록</a>
		<hr>
		<a th:href="@{/club/club_modify}">모임수정</a>
		<hr>
		<a th:href="@{/club/club_read}">모임상세</a>
	<!-- /내용 -->
	
	
	
	</th:block>

</th:block>
<script type="text/javascript">
$(".clubNum").on("click",function(){
	console.log("모임 상세 클릭");
})
</script>
