<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
	
	
	
	<!-- 내용 -->
	<title>모임 상세페이지</title>
	<h1>모임 상세페이지</h1>
	
	
	<!-- 네비창 (정보, 게시판, 사진첩) -->
	
	<table border="1">
	<tr>
		<td><a th:href="@{/thisiswe/club/(Num=${readDTO.clubNum})}">정보</a></td>
		<td><a href="/thisiswe/club/calendar">게시판</a></td>
		<td><a href="">사진첩</a></td>
		<td><a th:href="@{/room}">채팅방</a></td>
		
	</tr>
	</table>
	<!-- /네비창 (정보, 게시판, 사진첩) -->
	
	<!-- 모임 수정 버튼 -->
		<table border="0">
	<tr>
		<td>
		<a th:href="@{/thisiswe/modify(Num=${readDTO.clubNum})}">
			<button type="button">모임수정버튼</button> 
		</a>
		</td>
	</tr>
		</table>
	<!-- /모임 수정 버튼 -->
	
	<table border="1">
	<tr>
	 <!-- 로고이미지 -->
  	<td rowspan="4">로고이미지</td>
	 <!-- /로고이미지 -->
		<td>
			<input th:value="${readDTO.clubNum}" readonly="readonly">
		</td>
	</tr>
	
	<!-- userID -->
  <tr>
	<td colspan="2">
	 아이디 : <input  name="userId" th:value="${readDTO.userId}" readonly="readonly">
	</td>
  </tr>


  <!-- 모임명 -->
  <tr>
	<td colspan="2">
	 모임명 : <input name="clubName" th:value="${readDTO.clubName}" readonly="readonly">
	</td>
  </tr>
  
  <!-- 모임설명 -->
  <tr>
	<td colspan="2">
	  모임설명 : <textarea name="clubContent" readonly="readonly">[[${readDTO.clubContent}]]</textarea>
	</td>
  </tr>
  
  	<!-- 지역 -->
  <tr>
	<td colspan="2">
	 지역 : <input name="clubPlace"  th:value="${readDTO.clubPlace}" readonly="readonly">
	</td>
  </tr>
  
  <!-- 카테고리 -->
  <tr>
	<td colspan="2">
	 관심사 카테고리 : 
	 <select size="1" name="clubCategory" required="required">
	 	<option th:value="${readDTO.clubCategory}" selected="selected">[[${readDTO.clubCategory}]]</option>
	 	<option value="아웃도어/여행">아웃도어/여행</option>
	 	<option value="운동/스포츠">운동/스포츠</option>
	 	<option value="인문학/책/글">인문학/책/글</option>
	 	<option value="업종/직무">업종/직무</option>
	 	<option value="외국/언어">외국/언어</option>
	 	<option value="문화/공연/축제">문화/공연/축제</option>
	 	<option value="음악/악기">음악/악기</option>
	 	<option value="공예/만들기">공예/만들기</option>
	 	<option value="댄스/무용">댄스/무용</option>
	 	<option value="봉사활동">봉사활동</option>
	 	<option value="사교/인맥">사교/인맥</option>
	 	<option value="차/오토바이">차/오토바이</option>
	 	<option value="사진/영상">사진/영상</option>
	 	<option value="야구관람">야구관람</option>
	 	<option value="게임/오락">게임/오락</option>
	 	<option value="요리/제조">요리/제조</option>
	 	<option value="반려동물">반려동물</option>
	 	<option value="가족/결혼">가족/결혼</option>
	 	<option value="자유주제">자유주제</option>
	 </select>
	</td>
  </tr>

  
  <tr>
 
  	<!-- 모임정원 -->
	<td>모임정원<input name="clubHeadCount" th:value="${readDTO.clubHeadCount}" type="number" min="1" max="300"  readonly="readonly"></td>
  </tr>
	
	</table>

<!-- 모임 일정표 -->
	<table border="1">
	<tr>
	<th><h3>모임 스케줄표</h3></th>
	<td>
			<a th:href="@{/thisiswe/club/calendar/register/(num=${readDTO.clubNum})}">
			<button type="button">일정등록</button></a>
			</td>
	<tr>
		<tr th:each="calendarDTO : ${calendarDTOList}" >
			<td colspan="2">
				<div><a 
				>제목 : [[${calendarDTO.clubCalendarTitle}]]</a></div> <br>
				<div>날짜 : [[${calendarDTO.clubCalendarDate}]]</div> <br>
				 <div>장소 : [[${calendarDTO.clubCalendarPlace}]]</div>  <br>
				 <div>비용 : [[${calendarDTO.clubCalendarPrice}]]원</div>  <br>
			</td>
			
			
		</tr>
		<!-- 
		<tr>
		<td rowspan="3">달력이미지</td>
		<td>날짜 : <input type="date"></td>
		</tr>
		
		
		<tr>
		<td>장소 : <input type="text"> </td>
		</tr>
		
		<tr>
		<td>모임비 : <input type="text"> </td>
		</tr>
		 -->
	</table>
<!-- /모임 일정표 -->

	
	<hr>
		<a th:href="@{/club/club_list}">모임목록</a>
		<hr>
		<a th:href="@{/club/club_modify}">모임수정</a>
		<hr>
		<a th:href="@{/club/club_read}">모임상세</a>
		<hr>
		<a th:href="@{/club/club_register}">모임등록</a>
		<hr>
	<!-- /내용 -->
	
	
	
	</th:block>

</th:block>