<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">



		<!-- 내용 -->
		<title>예약 등록페이지</title>


		<div>RESERVATION</div>

		<div>
			<input type="date">
		</div>



		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a>00:00</a> 
					<a>01:00</a>
					<a>03:00</a>
				<a >04:00</a>
				<a >05:00</a>
				<a >06:00</a>
				<a >07:00</a>
				<a>08:00</a>
					<a>09:00</a> 
					<a>10:00</a>
					<a>11:00</a>
				<a >12:00</a>
				</div>
						<div class="swiper-slide">
				<a >13:00</a>
				<a >14:00</a>
				<a >15:00</a>
				<a>16:00</a>
				<a >17:00</a>
				<a >18:00</a>
				<a >19:00</a>
				<a >20:00</a>
				
				<a>21:00</a>
				<a>22:00</a>
				<a>23:00</a>
				</div>
				
			</div>
		</div>
		<script>
			new Swiper('.swiper-container');
		</script>
		<!-- 스크린  -->





		<!-- /내용 -->



	</th:block>

</th:block>