<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">



		<!-- 내용 -->
		
		<!-- 예약 현황 -->
		
		<div><h2>예약 현황</h2></div>
		<div>
			<input >
		</div>
		
		
		
		
		
<form th:action="@{/thisiswe/place/reservation}" th:method="post">


<button type="submit" class="">예약하기</button>
<button type="button" class="reservationBtn">예약중복확인</button>

<script type="text/javascript">

$(".reservationBtn").on("click",function(){
	var placeReservationDate=$(".placeReservationDate").val();
	console.log("예약하고싶은 날짜 :"+placeReservationDate);
	var placeReservationTimeStart=$(".placeReservationTimeStart").val();
	console.log("예약하고싶은 시작시간 :"+placeReservationTimeStart);
	var placeReservationTimeEnd=$(".placeReservationTimeEnd").val();
	console.log("예약하고싶은 시작시간 :"+placeReservationTimeEnd);
	
	alert("예약버튼 클릭되었습니다.")
	
	$.ajax({
	url:"/thisiswe/place/reservationCheck",
	type:"POST",
	data: JSON.stringify({
		placeReservationDate:placeReservationDate,
		placeReservationTimeStart:placeReservationTimeStart,
		placeReservationTimeEnd:placeReservationTimeEnd
	}),
	contentType:"application/json; charset=UTF-8",
	dataType:"json",
	success: function(data){
		if(data==true){
		alert("예약이 가능합니다.")
		console.log(data)
		}else{
		alert("예약이 불가능합니다.")
		console.log(data)
		}
	}
	
		
	})
	
})
</script>
		<div>RESERVATION</div>




		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
				<div>
					장소번호 : <input name="placeNum">
				</div>
				<div>
					룸 번호 : <input name="placeZoneNum">
				</div>
				
				<div>
					예약자명 : <input type="text" name="place_reservation_name">
				</div>
				<div>
					유저 ID : <input type="text" name="userId" th:value="${userId}">
				</div>
				<div>
					유저 닉네임 : <input type="text" name="" th:value="${userNickname}">
				</div>
		<div>
			날짜 : <input type="date" name="placeReservationDate" class="placeReservationDate">
		</div>
				
				<div>
					인원 : <input type="number" name="placeReservationHeadcount">
				</div>
				
				<div>
					전화번호 : <input type="number" name="place_reservation_tel">
				</div>
				
				
					<div>
					<select name="placeReservationTimeStart" class="placeReservationTimeStart">
						<option value="00">00:00</option>
						<option value="01">01:00</option>
						<option value="02">02:00</option>
						<option value="03">03:00</option>
						<option value="04">04:00</option>
						<option value="05">05:00</option>
						<option value="06">06:00</option>
						<option value="07">07:00</option>
						<option value="08">08:00</option>
						<option value="09">09:00</option>
						<option value="10">10:00</option>
						<option value="11">11:00</option>
						<option value="12">12:00</option>
						<option value="13">13:00</option>
						<option value="14">14:00</option>
						<option value="15">15:00</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
						<option value="22">22:00</option>
						<option value="23">23:00</option>
					</select>
					<select name="placeReservationTimeEnd" class="placeReservationTimeEnd">
						<option value="00">00:00</option>
						<option value="01">01:00</option>
						<option value="02">02:00</option>
						<option value="03">03:00</option>
						<option value="04">04:00</option>
						<option value="05">05:00</option>
						<option value="06">06:00</option>
						<option value="07">07:00</option>
						<option value="08">08:00</option>
						<option value="09">09:00</option>
						<option value="10">10:00</option>
						<option value="11">11:00</option>
						<option value="12">12:00</option>
						<option value="13">13:00</option>
						<option value="14">14:00</option>
						<option value="15">15:00</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
						<option value="22">22:00</option>
						<option value="23">23:00</option>
					</select>
					<div>
					카드번호 : 
						<input type="number" max="9999" name="placeReservationCardNumber1">-
						<input type="number" max="9999" name="placeReservationCardNumber2">-
						<input type="number" max="9999" name="placeReservationCardNumber3">-
						<input type="number" max="9999" name="placeReservationCardNumber4">
					</div>
					<br>
					<div>
					카드 월/년 :<input type="number" min="1" max="12" name="placeReservationCardMonth">/<input type="number" min="01" max="99" name="placeReservationCardYear">
					</div>
					<div>
					카드 사용자 이름 : 	<input type="text" name="placeReservationCardUserName">
					</div>
					<div>
					카드 비밀번호 앞 2자리 :	<input type="password" name="placeReservationCardpassword">**
					</div>
					
					</div>
				</div>

			</div>
		</div>
		<script>
			new Swiper('.swiper-container');
		</script>
		
		<!-- 스크린  -->





		<!-- /내용 -->
</form>



	</th:block>

</th:block>