<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table>


		<tr th:each="dto : ${result}">
			
			<td>[[${dto.placeNum}]]</td>
			<td>[[${dto.placeName}]]</td>
			<td>[[${dto.placeOneLineIntroduction}]]</td>
			<td>[[${dto.placeIntroduction}]]</td>
			<td>[[${dto.placeBusinessHours}]]</td>
			<td>[[${dto.placeHoliday}]]</td>
			<td>[[${dto.placeRefundRegulations}]]</td>
			<td>[[${dto.placeAddress}]]</td>
			<td>[[${dto.placePhoneNumber}]]</td>
			<td>[[${dto.placeCoordinate}]]</td>
			<td>[[${dto.placeGuide}]]</td>
			<td>[[${dto.placeCaution}]]</td>
			
			
			
		</tr>


	</table>

</body>
</html>