<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
		<style>
			#myform {
				display: inline-block;
				direction: rtl;
				border: 0;
			}

			#myform legend {
				text-align: left;
			}

			#myform input[type=radio] {
				display: none;
			}

			#myform label {
				font-size: 30px;
				/* 이모지 크기 */
				color: transparent;
				text-shadow: 0 0 0 #f0f0f0;
			}

			#myform label:hover {
				text-shadow: 0 0 0 #BB2649;
			}

			#myform label:hover~label {
				text-shadow: 0 0 0 #BB2649;
			}

			#myform input[type=radio]:checked~label {
				text-shadow: 0 0 0 #BB2649;
				/* 마우스 클릭 체크 */
			}

			br {
				content: "";
				margin: 1em;
				display: block;
			}
			
			p{
				text-align: left;
			}
			.littleTitle{
				font-size: 24px;
				font-weight: bold;
				color:  #BB2649;
			}
			
		</style>


		<div style="text-align: center; width: 60%;">

			<a th:if="${isWriter}" th:href="@{/thisiswe/place/modify(placeNum=${place.getPlaceNum})}"><button class="searchBtn-mi-textLength5" type="button"
					style="float: right;">수정</button></a>


			<button class="searchBtn-mi-textLength5" style="float: right;" th:if="${isWriter}" id="placeDeleteButton" type="submit">삭제</button>


			<a  th:href="@{/thisiswe/place/zone/register(placeNum=${place.getPlaceNum})}"><button class="searchBtn-mi-textLength5" type="submit"
					style="float: right;">룸 추가</button></a>

			<br>

			<div>

				<div style="float: left;">
					<p style="font-size: 40px; font-weight: 600;">[[${place.getPlaceName}]]</p>
					<p style="font-size: 21px; color:  #BB2649;">[[${place.getPlaceOneLineIntroduction}]]</p>
				</div>

				<div  class="swiper-container">
					<div class="swiper-wrapper">
						<div style="height: 400px; width: 500px;" th:each="placeImageDTO : ${place.placeImageDTOList}"
							class="swiper-slide"><img height="100%"
								th:src="|/thisiswe/placeImageDisplay?fileName=${placeImageDTO.getPlcaeThumbnailURL()}|">
						</div>
					</div>
				</div>


				<form th:action="@{/thisiswe/place/reservation}" method="get">
					<div th:each="zone : ${zones}" style="border: solid 1px;">
						[[${zone.getPlaceZoneName}]]
						[[${zone.getPlaceZoneHeadCount}]]
						[[${zone.getPlaceZoneNum}]]
						[[${zone.getPlaceNum}]]
						<input type="radio" name="placeZoneNum" th:value="${zone.getPlaceZoneNum}">
						
						<div class="swiper-container" >
							<div class="swiper-wrapper">
								<div class="swiper-slide">
								00:00~01:00 : ([[${zone.placeZoneTimePriceDTO.placeZonePriceTime01}]])
								01:00~02:00 : ([[${zone.placeZoneTimePriceDTO.placeZonePriceTime01}]])
								02:00~03:00 : ([[${zone.placeZoneTimePriceDTO.placeZonePriceTime01}]])
								</div>
								<div class="swiper-slide">
								
								</div>
							</div>
						</div>
					</div>
					<button class="searchBtn-mi-textLength5" type="submit">예약</button>
				</form>
				
				<!-- 룸 시간별 금액 스와이퍼 처리 -->
				<script>
					new Swiper('.swiper-container');
				</script>
				<!-- /룸 시간별 금액 스와이퍼 처리 -->
				
				<div style="text-align: left;">
				<input type="hidden" name="placeNum" th:value="${place.placeNum}">
				<br>
				<p class="littleTitle">소개글</p>
				<br>
				<p th:utext="${place.getPlaceIntroduction.replaceAll('\n', '<br/>')}" ></p>
				<br>
				<br>
				<br>
				<p class="littleTitle">영업 시간</p>
				<br>
				<div>[[${place.getPlaceBusinessHours}]]</div>
				<br>
				<p class="littleTitle">휴무일</p>
				<br>
				<div>[[${place.getPlaceHoliday}]]</div>
				<br>
				<p class="littleTitle">주소</p>
				<br>
				<div>[[${place.getPlaceAddress}]]</div>
				<br>
				<p class="littleTitle">전화번호</p>
				<br>
				<div>[[${place.getPlacePhoneNumber}]]</div>
				<br>
				<p class="littleTitle">안내 사항</p>
				<br>
				<div>[[${place.getPlaceGuide}]]</div>
				<p th:utext="${place.getPlaceGuide.replaceAll('\n', '<br/>')}" ></p>
				<br>
				<p class="littleTitle">주의 사항</p>
				<br>
				<div>[[${place.getPlaceCaution}]]</div>
				<p th:utext="${place.getPlaceCaution.replaceAll('\n', '<br/>')}" ></p>
				<br>
				<p class="littleTitle">환불 규정</p>
				<br>
				<p th:utext="${place.getPlaceRefundRegulations.replaceAll('\n', '<br/>')}" ></p>
				</div>
				<br>



				<input type="hidden" id="loginID" th:value="@{${loginID}}">
				<!-- 리뷰 등록 시작 -->
				<p class="littleTitle">리뷰</p>
				<div style="border: solid 1px; border-radius: 13px;">
				<br>별점
				<fieldset id="myform">
					<input type="radio" name="placeReviewRate" value="5" id="rate1"><label for="rate1">⭐</label>
					<input type="radio" name="placeReviewRate" value="4" id="rate2"><label for="rate2">⭐</label>
					<input type="radio" name="placeReviewRate" value="3" id="rate3"><label for="rate3">⭐</label>
					<input type="radio" name="placeReviewRate" value="2" id="rate4"><label for="rate4">⭐</label>
					<input type="radio" name="placeReviewRate" value="1" id="rate5"><label for="rate5">⭐</label>
				</fieldset>
				<br>
				<textarea style="border-radius: 10px;" name="placeReviewContent" cols="100" rows="10"></textarea>
				<br>
				<button class="searchBtn-mi-textLength5 reviewSave" type="button" style="height: 40px; margin-bottom: 30px;">리뷰 등록</button>
				</div>
				<br>
				<!-- 리뷰 등록 끝 -->

				<!-- 리뷰 시작 -->
				<div class="reviews"></div>
				<!-- 리뷰 끝 -->



				<!-- 페이징 블럭 -->
				<div class="reviewPage"></div>

			</div>
		</div>


		<script>
			new Swiper('.swiper-container');
		</script>

		<script th:inline="javascript">

			const placeNum = [[${place.placeNum}]];

			function loadJSONData(page) {
				var reviewPage = {
					placeNum: placeNum,
					page: page
				}
				var size = 10;
				var url = '/place/review?' + "placeNum=" + placeNum + '&' + "page=" + page + '&' + "size=" + size;

				var params = {
					placeNum: placeNum,
					page: page,
					size: size
				}

				var data = $.param(params);

				$.ajax({
					url: '/place/review/' + placeNum,
					method: 'get',
					data: data,
					success: function (data) {

						// 리뷰 페이징 바
						var reviewPaginHTML = '<ul>';

						if (data.prev) {
							reviewPaginHTML += '<li>' +
								'					<a onclick="loadJSONData(' + (data.start - 1) + ')">' +
								'						이전' +
								'					</a>' +
								'				  </li>';
						}

						for (pageNum = data.start; pageNum <= data.pageList.length + data.start - 1; pageNum++) {
							var isActive = data.page == pageNum ? 'active' : ''
							reviewPaginHTML += '<li class="' + isActive + '">' +
								'						<a onclick="loadJSONData(' + pageNum + ')">' +
								pageNum +
								'						</a>' +
								'				  </li> ';

						}

						if (data.next) {
							reviewPaginHTML += '<li>' +
								'					<a onclick="loadJSONData(' + data.end + ')">' +
								'						다음' +
								'					</a>' +
								'				  </li>';
						}

						reviewPaginHTML += '</ul>';
						$(".reviewPage").html(reviewPaginHTML);


						// 리뷰 
						var reviewHTML = "";
						var button = "";
						var s = $("#loginID").val();
						var count = 1;

						$.each(data.dtoList, function (and, review) {
							
							const isoDate = new Date(review.regDate);
							const formattedDateStr = isoDate.toLocaleString('en-US', {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false}).replace(',', '');
							console.log(formattedDateStr);
							
							
							count++;
							if (s == review.userId) {
								button = '<button style="float: right;" type="button" class="searchBtn-mi-textLength5 reviewModifyOn " onclick="reviewModifyOn(this)">수정</button>' +
									'		<button style="float: right;" type="button" class="searchBtn-mi-textLength5 reviewRemove">삭제</button> ' +
									'		<input  type="hidden" class="placeReviewNum" value="' + review.placeReviewNum + '"></input>'
							}

							reviewHTML +=
								'				<div class="reviewSet" style="text-align: left;">' +
								'					<div class="review">' +
								'				<p style="font-weight: 100;" class="littleTitle">	'+ review.writer +'<p>'+
								button +
								'						 <br>' +
								'						' + review.placeReviewContent + '<br> ' +
								'					<p style="color:grey; font-size: 13px;" >' + formattedDateStr + '<br>' +
								'					</div>' +
								'					<div class="reviewModifyInput" style="display: none; border: solid 1px; height: 232px;">' +
								'						별점<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="1">' +
								'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="2"> ' +
								'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="3"> ' +
								'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="4"> ' +
								'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="5"> ' +
								'						<br>' +
								'						<textarea name="ModifyplaceReviewContent" cols="80" rows="7">' + review.placeReviewContent + '</textarea>' +
								'                       <br>' +
								'						<input name="ModifyplaceReviewNum" type="hidden" value="' + review.placeReviewNum + '">' +
								'						<button type="button" class="reviewModify">수정</button>' +
								'						<button type="button" class="reviewModifyCancel">취소</button>' +
								'					</div>' +
								'				</div> ';
						});

						$(".reviews").html(reviewHTML);
						$(".active").css('color', 'red');
					}
					//
				});
			};

			$(document).ready(function () {

				$("#placeDeleteButton").click(function () {
					console.log(placeNum)
					$.ajax({
						url: '/thisiswe/place/remove/' + placeNum,
						method: "delete",
						success: function (result) {
							let url = "/thisiswe/place";
							location.replace(url);
						}

					})

				})




				// 댓글 loadJSONData (댓글 실시간 반영) 시작

				// 댓글 loadJSONData (댓글 실시간 반영) 끝

				// 화면 들어갈 때 댓글 넣어줌
				loadJSONData(1);

				// 리뷰 save 버튼 시작
				$(".reviewSave").click(function () {
					var review = {
						placeNum: placeNum,
						placeReviewRate: $('input[name=placeReviewRate]:checked').val(),
						placeReviewContent: $('textarea[name=placeReviewContent]').val(),
					}

					$.ajax({
						url: '/place/review',
						method: 'post',
						data: JSON.stringify(review),
						contentType: 'application/json; charset=utf-8',
						dataType: 'json',
						success: function (data) {



							loadJSONData(1);

							$('textarea[name=placeReviewContent]').val('');
						}
					});
				})
				// 리뷰 save 버튼 끝



				// 리뷰 reviewModifyCancel 버튼 시작

				$(document).on("click", ".reviewModifyCancel", function () {
					$(this).parents("div").parents("div").children(".review").show();

					$(this).parents("div").parents("div").children(".reviewModifyInput").hide()
				});

				// 리뷰 reviewModifyCancel 버튼 끝


				// 리뷰 modify 버튼 시작 수정
				$(document).on("click", ".reviewModify", function () {
					console.log($(".active").children("a").html().trim(""));
					const placeReviewNum = $(this).parents(".reviewModifyInput").children('input[name=ModifyplaceReviewNum]').val();
					var review = {
						placeReviewNum: placeReviewNum,
						placeNum: placeNum,
						placeReviewRate: $(this).parents(".reviewModifyInput").children('input[class=reviewRate]:checked').val(),
						placeReviewContent: $(this).parents(".reviewModifyInput").children('textarea[name=ModifyplaceReviewContent]').val()
					}

					$.ajax({
						url: '/place/review/' + placeReviewNum,
						method: 'post',
						data: JSON.stringify(review),
						contentType: 'application/json; charset=utf-8',
						dataType: 'json',
						success: function (data) {
							alert("수정 성공!");
							loadJSONData($(".active").children("a").html().trim(""));
						}
					});
					/* loadJSONData(#"{active}"); */
				});
				// 리뷰 modify 버튼 끝


				// 리뷰 삭제 버튼 시작
				$(document).on("click", ".reviewRemove", function () {
					console.log($(".active").children("a").html().trim(""));
					var placeReviewNum = $(this).parents(".review").children(".placeReviewNum").val();

					$.ajax({
						url: '/place/review/' + placeReviewNum,
						method: 'delete',
						success: function (result) {
							loadJSONData($(".active").children("a").html().trim(""));
						}
					});
				})
				// 리뷰 삭제 버튼 끝
			})

			// 리뷰 reviewModifyOn 버튼 시작
			function reviewModifyOn(x) {
				$(".review").show();
				$(x).parents(".review").hide();
				$(".reviewModifyInput").hide();
				$(x).parents(".reviewSet").children(".reviewModifyInput").show();
			}
	// 리뷰 reviewModifyOn 버튼 끝


		</script>

	</th:block>
</th:block>