<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
		
<style>
	.custom-file-upload {
		
	  border: 1px solid #ccc;
	  display: inline-block;
	  padding: 6px 12px;
	  cursor: pointer;
	  border-radius: 4px;
	  font-size: 16px;
	  font-weight: bold;
	  color: #555;
	  background-color: #fff;
	}



li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

li button {
  background-color:#BB2649;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
}
	
	
</style>

		<script src="../js/club.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>

		<div class="inner">
			<h2>장소 등록페이지</h2>
			<form th:action="@{/thisiswe/place/register}" th:method="post">


				<div class="club-table">
					<div class="club-table-read">
						<div class="club-re-ca">

							<span>장소명</span>
							<input class="cl-re-input-fi" name="placeName">
							<br>

							카테고리
							<select class="cl-re-input-fi" name="placeCategory">
								<option value="">카테고리 선택</option>
								<option value="파티룸">파티룸</option>
								<option value="연습실">연습실</option>
								<option value="스튜디오">스튜디오</option>
								<option value="공연장">공연장</option>
								<option value="스터디">스터디 룸</option>
								<option value="회의실">회의실</option>
								<option value="공유 주방">공유 주방</option>
								<option value="기타">기타</option>
							</select>
							<br>

							이미지

							<div class="cl-re-input-fi uploadResult" style="height: 230px;">
								<ul>

								</ul>
							</div>

								<label for="file-upload-fileInput" class="custom-file-upload">
							  		<i class="fa fa-cloud-upload"></i> 이미지 첨부
									</label>
								<div class="custom-file">
									<input id="file-upload-fileInput" type="file" class="custom-file-input files" multiple style="display: none;">
								</div>
							
							
							<div class="box"></div>
							<br>						
							
								




							한 줄 소개
							<input class="cl-re-input-fi" name="placeOneLineIntroduction">
							<br>

							소개글
							<input class="cl-re-input-fi" name="placeIntroduction">
							<br>

							영업 시간
							<input class="cl-re-input-fi" name="placeBusinessHours">
							<br>

							휴무일
							<input class="cl-re-input-fi" name="placeHoliday">
							<br>

							안내사항
							<input class="cl-re-input-fi" name="placeGuide">
							<br>

							주의사항
							<input class="cl-re-input-fi" name="placeCaution">
							<br>

							환불 규정
							<input class="cl-re-input-fi" name="placeRefundRegulations">
							<br>

							주소
							<input class="cl-re-input-fi" name="placeAddress">
							<br>

							전화번호
							<input class="cl-re-input-fi" name="placePhoneNumber">
							<br>

							<button type="submit" class="registerButton searchBtn-mi-textLength5">등록</button>
						</div>

					</div>
				</div>
			</form>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script>
			$(document).ready(function (e) {
				var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
				var maxSize = 10485760; //10MB

				function checkExtension(fileName, fileSize) {
					if (fileSize >= maxSize) {
						alert("파일 사이즈 초과");
						return false;
					}
					if (regex.test(fileName)) {
						alert("해당 종류의 파일은 업로드 할 수 없습니다.")
						return false;
					}
					return true;
				}

				$(".custom-file-input").on("change", function () {
					var fileName = $(this).val().split("\\").pop();
					$(this).siblings(".custom-file-label").addClass("selected").html(fileName);

					var formData = new FormData();

					var inputFile = $(this);

					var files = inputFile[0].files;

					var appended = false;

					for (var i = 0; i < files.length; i++) {
						if (!checkExtension(files[i].name, files[i].size)) {
							return false;
						}
						console.log(files[i]);
						formData.append("uploadFiles", files[i]);
						appended = true;
					}
					if (!appended) {
						return;
					}
					for (var value of formData.values()) {

						console.log("굳");
						console.log(value);
					}

					// 실제 업로드 부분
					// upload ajax
					$.ajax({
						url: '/thisiswe/placeImageuploadAjax',
						processData: false,
						contentType: false,
						data: formData,
						type: 'post',
						dataType: 'Json',
						success: function (result) {
							console.log(result);
							showResult(result);
						},
						error: function (jqXHR, textStatus, errorThrown) {
							console.log(1)
							console.log(textStatus)
							console.log(2)

						}
					});
				});


				function showResult(arr) {
					console.log(arr);

					var divArea = $(".uploadResult ul");
					var str = "";

					for (var i = 0; i < arr.length; i++) {
						str += "<li data-name='" + arr[i].fileName
							+ "'data-path='" + arr[i].folderPath
							+ "' data-uuid='" + arr[i].uuid + "'>";

						str += "<div>";

						str += "<img src='/thisiswe/placeImageDisplay?fileName=" + arr[i].thumbnailURL + "'>";
						/* 	str += "<button class='removeBtn' data-name='"+arr[i].imageURL+"'>삭제</button>"; */
						str += "<button type='button' data-file=\'" + arr[i].imageURL + "\' "
						str += ">X</button><br>";

						str += "</div>"
						str += "</li>"

					}
					divArea.append(str);

					$(".uploadResult").on("click", "li button", function (e) {
						console.log("delete")
						var targetFile = $(this).data("file");
						var targetLi = $(this).closest("li");

						/* var fileName = target.data("name");
						var targetDiv = $(this).closest("div");
						 
						console.log(fileName);
						
						$.post('/removeFile', {fileName:fileName}, function(result){
							console.log(result);
							if(result==true){
								targetDiv.remove();
							}
						}) */

						$.ajax({
							url: '/thisiswe/placeImageRemoveFile',
							data: {fileName: targetFile},
							dataType: 'text',
							type: 'post',
							success: function (result) {
								alert(result);

								targetLi.remove();
							}
						}); //$.ajax
					});
				}


				$(".registerButton").on("click", function (e) {
					e.preventDefault();

					var str = "";

					$(".uploadResult li").each(function (i, obj) {
						var target = $(obj);

						str += "<input type='hidden' name='placeImageDTOList[" + i + "].placeImgName' value='" + target.data('name') + "'>";
						str += "<input type='hidden' name='placeImageDTOList[" + i + "].placeImageUrl' value='" + target.data('path') + "'>";
						str += "<input type='hidden' name='placeImageDTOList[" + i + "].placeUuid' value='" + target.data('uuid') + "'>";

					});

					$(".box").html(str);
					$("form").submit();

				});



			});







		</script>






		</body>

</html>