<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">
   
   <!-- 지정한 변수로 연결할 위치 -->
<th:block th:fragment="connection">
<style>
	.active {
	color : orange;
	}
	
</style>


<div style="text-align: center;">
<!-- 	<form action="">
		<select>
			<option value="">카테고리 선택</option>
			<option value="">파티룸</option>
			<option value="">연습실</option>
			<option value="">스튜디오</option>
			<option value="">공연장</option>
			<option value="">스터디 룸</option>
			<option value="">회의실</option>
			<option value="">공유 주방</option>
			<option value="">기타</option>
		</select>
		
		<input type="text">
		<input type="submit" value="검색">
	</form> -->
	<div> 이 장소는 어떠세요</div> 
	 	<a th:href="@{/thisiswe/place/register}"><button type="button" style="float: right;">장소 추가</button></a>
	<!--<select style="float: left;">
			<option value="">최신순</option>
			<option value="">오래된 순</option>
			<option value="">별점순</option>
	</select> -->
	<br>
	<br>
	
			<div style="display: inline-block;width: 40%" th:each="dto : ${placeList.dtoList}">
				<div style="border: solid 1px;">
					<a th:href="@{/thisiswe/place/c(num=${dto.placeNum})}" style="border: solid 1px;">
						<div><img width="100%" height="100%" th:src ="|/thisiswe/placeImageDisplay?fileName=${dto.placeImageDTOList[0].getPlcaeThumbnailURL()}|"></div>
						<div style="border: solid 1px;">[[${dto.placeName}]]</div>
						<div>
						<div style="border: solid 1px; width: 39%;  display: inline-block;">[[${dto.placeAddress}]]</div>
						<div style="border: solid 1px; width: 39%;  display: inline-block;">[[${dto.placePhoneNumber}]]</div>
						</div>
					</a>
				</div>
				<br>
				<br>
			</div>
			
	<!-- 페이징 블럭 -->
	<ul>
	<!-- 이전 버튼 -->
		<li th:if="${placeList.prev}">
			<a th:href="@{/thisiswe/place(page=${placeList.start-1}, type=${placePageRequestDTO.type}, keyword=${placePageRequestDTO.keyword})}">
				이전
			</a>
		</li>
	<!-- 숫자 버튼 -->
	
		<li th:class="${placeList.page == page?'active':''}" th:each="page: ${placeList.pageList}">
			<a th:href="@{/thisiswe/place(page=${page}, type=${placePageRequestDTO.type}, keyword=${placePageRequestDTO.keyword})}">
				[[${page}]]
			</a>
		</li>
	
	
	<!-- 다음 버튼 -->
		<li th:if="${placeList.next}" >
			<a th:href="@{/thisiswe/place(page=${placeList.end}, type=${placePageRequestDTO.type}, keyword=${placePageRequestDTO.keyword})}">
				다음
			</a>
		</li>
	</ul>
				
</div>

</th:block>
</th:block>
