<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">


		<div style="text-align: center;">
			<a th:href="@{/thisiswe/place/reservation}"><button type="button" style="float: right;">예약</button></a>
			<a th:href="@{/thisiswe/place/zone/register}"><button type="button" style="float: right;">룸 추가</button></a>
		
		
			<div>

				<div>
					<h1>[[${place.getPlaceName}]]</h1>
				</div>
				
				
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div style="height: 400px; width: 700px;"  th:each="placeImageDTO : ${place.placeImageDTOList}" class="swiper-slide"><img height="100%" th:src ="|/thisiswe/placeImageDisplay?fileName=${placeImageDTO.getPlcaeThumbnailURL()}|"></div>
					</div>
				</div>
				

				<div>
					<h3>[[${place.getPlaceOneLineIntroduction}]]</h3>
				</div>
				<br>
				<h4>소개글</h4>
				<div>[[${place.getPlaceIntroduction}]]</div>
				<br>
				<h4>안내 사항</h4>
				<div>[[${place.getPlaceGuide}]]</div>

				<input type="hidden" id="loginID" th:value="@{${loginID}}">
				<!-- 리뷰 등록 시작 -->

				<br>별점 <input type="radio" name="placeReviewRate" value="1">
				<input type="radio" name="placeReviewRate" value="2"> <input
					type="radio" name="placeReviewRate" value="3"> <input
					type="radio" name="placeReviewRate" value="4"> <input
					type="radio" name="placeReviewRate" value="5"> <br>
				<textarea name="placeReviewContent" cols="120" rows="10"></textarea>
				<button type="button" class="reviewSave"
					style="height: 60px; margin-bottom: 30px;">리뷰 등록</button>
				<!-- 리뷰 등록 끝 -->

				<!-- 리뷰 시작 -->
				<div class="reviews"></div>
				<!-- 리뷰 끝 -->



				<!-- 페이징 블럭 -->
				<div class="reviewPage"></div>

			</div>
		</div>


<script>
   new Swiper('.swiper-container');
</script>

<script th:inline="javascript">
		
const placeNum = [[${place.placeNum}]];
		
		function loadJSONData(page){
			var reviewPage = {
				placeNum: placeNum,
				page: page
			}
			var size = 10;
			var url = '/place/review?' + "placeNum="+placeNum +'&'+"page=" + page + '&' +"size="+ size;
			
			var params = {
					placeNum : placeNum,        
			        page : page,
			        size : size
			    }
			    
			    var data = $.param(params);

			$.ajax({
					url:'/place/review/' + placeNum,
					method: 'get',
					data: data,
					success: function(data){

				// 리뷰 페이징 바
				var reviewPaginHTML='<ul>';
				
				if(data.prev){
					reviewPaginHTML+='<li>'+
					'					<a onclick="loadJSONData(' + (data.start-1 ) + ')">'+
					'						이전'+
					'					</a>'+
					'				  </li>';
				}
				
				for(pageNum = data.start; pageNum <= data.pageList.length + data.start - 1; pageNum++){
					var isActive = data.page == pageNum?'active':''
					reviewPaginHTML+='<li class="' + isActive + '">'+
					'						<a onclick="loadJSONData('+ pageNum +')">'+
												pageNum +
					'						</a>'+
					'				  </li> ';
					
				}

				if(data.next){
					reviewPaginHTML+='<li>'+
					'					<a onclick="loadJSONData(' + data.end  + ')">'+
					'						다음'+
					'					</a>'+
					'				  </li>';
				}
				
				reviewPaginHTML +='</ul>';
				$(".reviewPage").html(reviewPaginHTML);
				
				
				// 리뷰 
				var reviewHTML = "";
				var button ="";	
				var s = $("#loginID").val();
				var count = 1;
				$.each(data.dtoList, function(and, review){
					count++;
					if(s == review.userId){
						button='<button type="button" class="reviewModifyOn" onclick="reviewModifyOn(this)">수정</button>'+
						'		<button type="button" class="reviewRemove">삭제</button> '+
						'		<input  type="hidden" class="placeReviewNum" value="' + review.placeReviewNum + '"></input>'
					}
					
					reviewHTML +=  
				 	'				<div class="reviewSet">'+	
					'					<div class="review" style="border: 1px solid;">'+
					'						작성자 :'+ review.writer + 
												button+
					'						 <br>'+
					'						리뷰 넘버' + review.placeReviewNum +
					'						<h2>평점 :' + review.placeReviewRate + '</h2><br> '+
					'						<h2>내용 :' + review.placeReviewContent + '</h2><br> '+
					'						작성일 :' + review.regDate + '<br>'+
					'					</div>'+
					'					<div class="reviewModifyInput" style="display: none; border: solid 1px; height: 232px;">'+
					'						별점<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="1">'+
					'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="2"> '+
					'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="3"> '+
					'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="4"> '+
					'						<input class="reviewRate" type="radio" name="ModifyplaceReviewRate' + count + '" value="5"> '+
					'						<br>' +
					'						<textarea name="ModifyplaceReviewContent" cols="80" rows="7">'+review.placeReviewContent+'</textarea>'+
					'                       <br>' +
					'						<input name="ModifyplaceReviewNum" type="hidden" value="' + review.placeReviewNum + '">'+
					'						<button type="button" class="reviewModify">수정</button>'+
					'						<button type="button" class="reviewModifyCancel">취소</button>'+
					'					</div>' +
					'				</div> '; 
				});

				$(".reviews").html(reviewHTML);
				$(".active").css('color', 'red');
				}
					//
			});
		};
		
	$(document).ready(function(){

		// 댓글 loadJSONData (댓글 실시간 반영) 시작

		// 댓글 loadJSONData (댓글 실시간 반영) 끝
		 
		// 화면 들어갈 때 댓글 넣어줌
		loadJSONData(1);
		
		// 리뷰 save 버튼 시작
		$(".reviewSave").click(function(){
			var review = {
					placeNum: placeNum, 
					placeReviewRate: $('input[name=placeReviewRate]:checked').val(),
					placeReviewContent: $('textarea[name=placeReviewContent]').val(),
	      }
			
			$.ajax({
				url: '/place/review',
				method: 'post',
				data: JSON.stringify(review),
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				success: function(data){
			
			
				
				loadJSONData(1);

				$('textarea[name=placeReviewContent]').val('');
				}
			});
		})
		// 리뷰 save 버튼 끝
		
		
		
		// 리뷰 reviewModifyCancel 버튼 시작
		 
			$(document).on("click", ".reviewModifyCancel", function(){
				$(this).parents("div").parents("div").children(".review").show();
				
				$(this).parents("div").parents("div").children(".reviewModifyInput").hide()
			});
		
		// 리뷰 reviewModifyCancel 버튼 끝
		
		
		// 리뷰 modify 버튼 시작 수정
			$(document).on("click", ".reviewModify", function(){
				console.log($(".active").children("a").html().trim(""));
				const placeReviewNum =  $(this).parents(".reviewModifyInput").children('input[name=ModifyplaceReviewNum]').val();	
				var review = {
						placeReviewNum: placeReviewNum,
						placeNum: placeNum, 
						placeReviewRate: $(this).parents(".reviewModifyInput").children('input[class=reviewRate]:checked').val(),
						placeReviewContent: $(this).parents(".reviewModifyInput").children('textarea[name=ModifyplaceReviewContent]').val() 
	 	      }
				
				$.ajax({
					url: '/place/review/' + placeReviewNum,
					method: 'post',
					data: JSON.stringify(review),
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					success: function(data){
						alert("수정 성공!");
						loadJSONData($(".active").children("a").html().trim(""));
					}
				});
				/* loadJSONData(#"{active}"); */
			}); 
		// 리뷰 modify 버튼 끝
		
		
		// 리뷰 삭제 버튼 시작
			$(document).on("click",".reviewRemove", function(){
				console.log($(".active").children("a").html().trim(""));
				var placeReviewNum = $(this).parents(".review").children(".placeReviewNum").val();
			
				$.ajax({
					url: '/place/review/' + placeReviewNum,
					method: 'delete',
					success: function(result){
						loadJSONData($(".active").children("a").html().trim(""));
					}
				});
			})
		// 리뷰 삭제 버튼 끝
	})
	
	// 리뷰 reviewModifyOn 버튼 시작
function reviewModifyOn(x){
		$(".review").show();
		$(x).parents(".review").hide();
		$(".reviewModifyInput").hide();
		$(x).parents(".reviewSet").children(".reviewModifyInput").show();	
	}
	// 리뷰 reviewModifyOn 버튼 끝

	
</script>

	</th:block>
</th:block>