<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">



		<!-- 내용 -->

		<h1>zone 상세 페이지</h1>

		<table>
			<tr>
				<th>장소번호</th>
			</tr>
			<tr>
				<th>장소번호 : <input type="text" name="placeNum">
				</th>
			</tr>

			<tr>
				<th>룸 이름</th>
			</tr>
			<tr>
				<th>추가룸 이름 : <input type="text" name="placeZoneName">
				</th>
			</tr>

			<tr>
				<th>수용 가능 인원</th>
			</tr>
			<tr>
				<th>수용가능 인원 : <input type="number" name="placeZoneHeadCount">
				</th>
			</tr>
		</table>

		<!-- /내용 -->



	</th:block>

</th:block>