<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">


	<th:block th:fragment="connection">
<h1>홈화면</h1>
<h3><a th:href="@{/thisiswe/club}">모임</a></h3>
<hr>
<h3><a th:href="@{/thisiswe/place}">장소</a></h3>




<form id="my_form" method="post" action="/user/logout">
<a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
</form>

</th:block>
</th:block>
