<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">


<th:block th:fragment="connection">
<title>제발 푸쉬 되자</title>

<div>
메롱
"공지사항
(참고사항)

- 관리자"	목록	→ 	등록(button)								
		→ 	검색								
		→ 	페이지								
	등록(button)	→ 	등록(submit)	→ 	목록(링크)						
			취소(reset)	→ 	등록						
	상세보기	→ 	수정(button)	→ 	수정(submit)	→ 	수정(button)				
					삭제(submit)	→ 	목록(링크)				
					목록(button)	→ 	목록(링크)				
		→ 	목록(button)	→ 	목록(링크)						
"자유게시판
- 회원"	목록	→ 	등록(button)								
		→ 	검색								
		→ 	페이지								
	등록(button)	→ 	등록(submit)	→ 	목록(링크)						
			취소(reset)	→ 	등록						
	상세보기	→ 	수정(button)	→ 	수정(submit)	→ 	수정(button)				
					삭제(submit)	→ 	목록(링크)				
					목록(button)	→ 	목록(링크)				
		→ 	목록(button)	→ 	목록(링크)						
		→ 	댓글	→ 	댓글목록	→ 	상세보기	→	댓글수정(submit)	→	완료 모달창
"댓글
- 회원"								→	댓글삭제(submit)	→	완료 모달창
								→	댓글목록(button)		
				→ 	등록(button)	→ 	등록(submit)	→	댓글목록(링크)		
						→ 	취소(reset)	→ 	댓글등록		

한글 패치
</div>

<a th:href="@{/login/index}">index</a>
</th:block>
</th:block>