<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{basic/basicindex::setContent(~{this::list})}">


<th:block th:fragment="list">

    <title>안녕하세요 </title>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>
<div>오세원 입니다22222222</div>

<a th:href="@{/login/test1}">index</a>
</th:block>
</th:block>