<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">



		<!-- 내용 -->
		<title>일정 등록페이지</title>

		<!-- 네비창 (정보, 게시판, 사진첩) -->

		<!-- 모임번호 받아오는 input -->
		<input type="hidden" class="club-ce clubNum" name="clubNum"
			th:value="${readDTO.clubNum}" readonly="readonly">
		<div class="top-inner">
			<div class="top-inner-ul">
				<ul class="top-inner-menu top-inner-eff">
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/(num=${readDTO.clubNum})}"> <span>INFO</span>
					</a></li>
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/board/(num=${readDTO.clubNum})}"> <span>BOARD</span>
					</a></li>
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/photo/(num=${readDTO.clubNum})}"> <span>PHOTO</span>
					</a></li>
					<li class="ta-li"><a th:href="@{/room}"> <span>CHAT</span>
					</a></li>
				</ul>
			</div>
		</div>
		<!-- /네비창 (정보, 게시판, 사진첩) -->


		<!-- from -->

		<form
			th:action="@{/thisiswe/club/calendar/register/(num=${readDTO.clubNum})}"
			th:method="post">

			<div class="inner">
				<h2>일정 등록페이지</h2>
				<div class="club-table">
					<div class="club-table-read">
						<table class="club-re-ca">
							<!-- 모임번호 -->
							<tr>
								<th class="club-ri-th">모임번호</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" name="clubNum"
									th:value="${readDTO.clubNum}" readonly="readonly"> <br>
								</td>
							</tr>

							<!-- 모임이름 -->
							<tr>
								<th class="club-ri-th">모임이름</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" th:value="${readDTO.clubName}"
									readonly="readonly"></td>
							</tr>

							<!-- 제목 -->
							<tr>
								<th class="club-ri-th">제목</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" name="clubCalendarTitle" type="text" required="required">
								</td>
							</tr>

							<!-- 모임설명 -->
							<tr>
								<th class="club-ri-th">모임설명</th>
							</tr>
							<tr>
							<tr>
								<td class="cl-re-contain"><textarea class="cl-re-input-fi" name="clubCalendarContent"
										rows="" cols="" required="required"></textarea>
								</td>
							</tr>

							<!-- 날짜 -->
							<tr>
								<th class="club-ri-th">날짜</th>
							</tr>
							<tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" name="clubCalendarDate" type="date" required="required">
								</td>
							</tr>

							<!-- 시간 -->
							<tr>
								<th class="club-ri-th">시간</th>
							</tr>
							<tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi-ti" name="clubCalendarTimeH" type="number" max="23" required="required">&nbsp;&nbsp;시&nbsp;&nbsp;&nbsp; <input
									class="cl-re-input-fi-ti" type="number" name="clubCalendarTimeM" max="59" required="required">&nbsp;&nbsp;분</td>
							</tr>

							<!-- 장소 -->
							<tr>
								<th class="club-ri-th">장소</th>
							</tr>
							<tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" name="clubCalendarPlace" type="text" required="required">
								</td>
							</tr>

							<!-- 모임정원 -->
							<tr>
								<th class="club-ri-th">모임정원</th>
							</tr>
							<tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" name="clubCalendarHeadCount"
									type="number" required="required"></td>
							</tr>

							<!-- 모임 비용 -->
							<tr>
								<th class="club-ri-th">모임비용</th>
							</tr>
							<tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi" name="clubCalendarPrice"
									type="number" required="required"></td>
							</tr>

							<tr>
								<td>
								<!-- 일정 등록 버튼 -->
								<div class="club-re-Btn">
									<button type="submit" class="searchBtn-mi-textLength5">일정등록</button>
									</div>
								<!-- /일정 등록 버튼 -->
								</td>
							</tr>

						</table>
					</div>
				</div>
			</div>
			<!-- /내용 -->
		</form>
		<!-- /from -->

	</th:block>

</th:block>