<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">

	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
	
		<!-- 네비창 (정보, 게시판, 사진첩) -->

		<!-- 모임번호 받아오는 input -->
		<input type="hidden" class="clubNum" name="clubNum"
			th:value="${calendarDTO.clubNum.clubNum}" readonly="readonly">

		<div class="top-inner">
			<div class="top-inner-ul">
				<ul class="top-inner-menu top-inner-eff">
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/(num=${calendarDTO.clubNum.clubNum})}">
							<span>INFO</span>
					</a></li>
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/board/(num=${calendarDTO.clubNum.clubNum})}">
							<span>BOARD</span>
					</a></li>
					<li class="ta-li"><a
						th:href="@{/thisiswe/club/photo/(num=${calendarDTO.clubNum.clubNum})}">
							<span>PHOTO</span>
					</a></li>
					<li class="ta-li"><a th:href="@{/room}"> <span>CHAT</span>
					</a></li>
				</ul>
			</div>
		</div>

		<!-- /네비창 (정보, 게시판, 사진첩) -->



		<!-- form -->
		<form th:action="@{/thisiswe/club/calendar/modify}" method="post">


			<!-- 내용 -->
			<div class="inner">
				<h2>일정수정 페이지</h2>
				<br>
				
				<div class="club-table">
					<div class="club-table-read">
						<table class="club-re-ca">
							<tr th:each="calendarDTO : ${calendarDTO}">
								<th class="club-ri-th"><h3>모임 스케줄표</h3></th>
							</tr>

							<!-- 모임번호 -->
							<tr>
								<th class="club-ri-th">모임번호</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubNum" th:value="${calendarDTO.clubNum.clubNum}" readonly="readonly">
									<br></td>
							</tr>

							<!-- 일정번호 -->
							<tr>
								<th class="club-ri-th">일정번호</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubCalendarNum"
									th:value="${calendarDTO.clubCalendarNum}" readonly="readonly"> <br></td>
							</tr>

							<!-- 제목 -->
							<tr>
								<th class="club-ri-th">제목</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubCalendarTitle"
									th:value="${calendarDTO.clubCalendarTitle}" required="required"> <br>
								</td>
							</tr>

							<!-- 내용 -->
							<tr>
								<th class="club-ri-th">내용</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-co"
									name="clubCalendarContent"
									th:value="${calendarDTO.clubCalendarContent}" required="required"> <br>
								</td>
							</tr>

							<!-- 날짜 -->
							<tr>
								<th class="club-ri-th">날짜</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input type="date"
									class="cl-re-input-fi" name="clubCalendarDate"
									th:value="${calendarDTO.clubCalendarDate}" required="required"> <br></td>
							</tr>

							<!-- 시간 -->
							<tr>
								<th class="club-ri-th">시간</th>
							</tr>
							<tr>
								<td class="cl-re-contain">
								<input class="cl-re-input-fi-ti" name="clubCalendarTimeH" type="number" max="23" th:value="${calendarDTO.clubCalendarTimeH}" required="required">시
								<input type="number" class="cl-re-input-fi-ti" name="clubCalendarTimeM" max="59" th:value="${calendarDTO.clubCalendarTimeM}" required="required">분
								</td>
						<!-- 		<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubCalendarTime"
									th:value="${calendarDTO.clubCalendarTime}"> <br></td> -->
							</tr>

							<!-- 장소 -->
							<tr>
								<th class="club-ri-th">장소</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubCalendarPlace"
									th:value="${calendarDTO.clubCalendarPlace}" required="required"> <br>
								</td>
							</tr>

							<!-- 인원 -->
							<tr>
								<th class="club-ri-th">인원</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubCalendarHeadCount"
									th:value="${calendarDTO.clubCalendarHeadCount}" required="required"> <br>
								</td>
							</tr>

							<!-- 비용 -->
							<tr>
								<th class="club-ri-th">비용</th>
							</tr>
							<tr>
								<td class="cl-re-contain"><input class="cl-re-input-fi"
									name="clubCalendarPrice"
									th:value="${calendarDTO.clubCalendarPrice}" required="required"> <br>
								</td>

							</tr>
						</table>
						<br>
						<!-- 수정 버튼 -->
						<div class="club-re-Btn">
							<button type="submit" class="searchBtn-mi-textLength5">수정하기</button>
						</div>
						<!-- /수정 버튼 -->
					</div>
				</div>
			</div>

			<!-- /내용 -->


		</form>
		<!-- /form -->

	</th:block>
</th:block>