<!DOCTYPE html>

<!-- th를 쓰기위한 thymeleaf.org 선언 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
	
	
	
	<!-- 내용 -->
	<title>일정 상세페이지</title>
	<table border="1">
	<tr><th><h3>모임 스케줄표</h3></th></tr>
			<tr th:each="calendarDTO : ${calendarDTO}">
			<td>
				제목 : [[${calendarDTO.clubCalendarTitle}]] <br>
			</td>
			</tr>
			<tr>
			<td>
				내용 : [[${calendarDTO.clubCalendarContent}]] <br>
			</td>
			</tr>
			<tr>
			<td>
				날짜 : [[${calendarDTO.clubCalendarDate}]] <br>
			</td>
			</tr>
			<tr>
			<td>
				시간 : [[${calendarDTO.clubCalendarTime}]] <br>
			</td>
			</tr>
			<tr>
			<td>
				장소 : [[${calendarDTO.clubCalendarPlace}]] <br>
			</td>
			</tr>
			<tr>
			<td>
				인원 : [[${calendarDTO.clubCalendarHeadCount}]] <br>
			</td>
			</tr>
			<tr>
			<td>
				비용 : [[${calendarDTO.clubCalendarPrice}]] <br>
			</td>
			
		</tr>
	</table>
	
	<!-- /내용 -->
	
	
	
	</th:block>

</th:block>