<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
<meta charset="UTF-8">
<title>마이페이지 회원정보수정</title>
<script type="text/javascript" th:src="@{/js/modify.js}"></script>
<script>
	function onclickAdmin() {
		// Get the checkbox
		var checkBox = document.getElementById("admin-check");
		// Get the output text
		var box = document.getElementById("admin-token");
		// If the checkbox is checked, display the output text
		if (checkBox.checked == true) {
			box.style.display = "block";
		} else {
			box.style.display = "none";
		}
	}
</script>
  <style>
    #previewImage {
      width: 200px;
      height: 200px;
    }
  </style>
</head>

<body>
  <div id="modify">
    <span>회원정보 수정</span><br>
      <span class="signup-classification">아이디</span><br>
      <span class="test" th:text="${userId}"></span> <br>
      
      <span class="signup-classification">이미지</span><br>
      <img id="previewImage" src="#" alt="미리보기 이미지"> <br>
      <input type="file" id="userImageFile" name="userImageFile" accept="image/*"><br>
      
      
      <span class="signup-classification">비밀번호</span><br>
      <input id="password" name="userPassword" type="password" placeholder="변경할 비밀번호를 입력해 주세요." onfocus="checkPassword(this)">
      <span class="verification" id="passwordCheck"> </span><br>
        
      <span class="signup-classification">닉네임</span><br>
      <button type="button" class="nicknameVerificationCheckBtn">닉네임검증 </button>
      <input type="text" name="userNickname" class="login-input-nickname" placeholder="변경할 닉네임을 입력해 주세요." onfocus="nicknamecheck(this)">
      <span class="verification" id="nicknameCheck"> </span><br>

      <button type="button" class="btn btn-warning modifyBtn">수정하기 </button>
  </div>
  <script th:inline="javascript">
  var inputImageFile = document.getElementById('userImageFile');
  var previewImage = document.getElementById('previewImage');

  inputImageFile.addEventListener('change', function() {
    var file = inputImageFile.files[0];
    var reader = new FileReader();

    reader.onloadend = function() {
      previewImage.src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      previewImage.src = "";
    }
  });
  
  
  
  
  $(document).ready(function() {
      
	  // controller에서 가져온 값을 userId라는 변수에 넣기.
	  let userId = [[${userId}]];
	  console.log("TEST ==============> " + userId);
	  
	  var inputImageFile = $('input[name="userImageFile"]');
      var inputNickname = $('input[name="userNickname"]');
      var inputPassword = $('input[name="userPassword"]');
      
      

      
      console.log("변경할 닉네임 중 입력한 것\n" + inputNickname);

      
      $(".modifyBtn").on("click", function(){

    	    var formData = new FormData();
    	    formData.append("userId", userId);
    	    formData.append("userImageFile", inputImageFile[0].files[0]);
    	    formData.append("userNickname", inputNickname.val());
    	    formData.append("userPassword", inputPassword.val());

    	    console.log(formData);

    	    $.ajax({
    	      url: '/thisiswe/mypage/' + userId ,  
    	      type: "PUT",
    	      data: formData,
    	      // contentType: false 옵션을 사용하면 multipart/form-data 형식으로 데이터를 보내기 때문에 
    	      // @RequestBody 어노테이션을 사용하여 요청 본문을 객체로 변환할 수 없습니다.
    	      contentType: false,
    	      processData: false,
    	      success: function(){
    	        alert("수정완료했습니다.")
    	      }
          })
      });
      
  });
  
  </script>
</body> 
</html>