<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block th:replace="~{basic/basicindex::setContent(~{this::connection})}">

    <!-- 지정한 변수로 연결할 위치 -->
    <th:block th:fragment="connection">

        <!-- board.css 연결 -->
        <link rel="stylesheet" th:href="@{/css/board.css}"/>
        <!-- /board.css 연결 -->

        <!-- board.js 연결 -->
        <script th:src="@{/js/board.js}"></script>
        <!-- /board.js 연결 -->

        <!-- [club] club의 네비 리스트 -->
        <div class="top-inner">
            <div class="top-inner-ul">
                <ul class="top-inner-menu top-inner-eff">
                    <li class="ta-li">
                        <a th:href="@{/thisiswe/club/(num=${clubNum})}">
                            <span>INFO</span>
                        </a>
                    </li>
                    <li class="ta-li">
                        <a th:href="@{/thisiswe/club/board/(num=${clubNum})}">
                            <span>BOARD</span>
                        </a>
                    </li>
                    <li class="ta-li">
                        <a th:href="@{/thisiswe/club/photo/(num=${clubNum})}">
                            <span>PHOTO</span>
                        </a>
                    </li>
                    <li class="ta-li">
                        <a th:href="@{/room}">
                            <span>CHAT</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- [club] club의 네비 리스트 -->

        <!-- 게시판 수정 -->
        <div class="inner">
            <h2>ㅅㅜㅈㅓㅇ</h2>

            <form th:action="@{/thisiswe/club/board/modify}" th:method="post">

                <input type="hidden" name="page" th:value="${requestDTO.page}">
                <input type="hidden" name="type" th:value="${requestDTO.type}">
                <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

                <!-- 게시판 수정 - section -->
                <div class="board-section">
                    <!-- 게시판 조회 테이블 -->
                    <table class="board-mo-table">
                        <tr>
                            <th class="board-ri-th">모임번호</th>
                        </tr>

                        <tr>
                            <td class="bd-contain">
                                <input type="text" class="bd-input" name="num" autocomplete="off"
                                       required="required" th:value="${clubNum}">
                            </td>
                        </tr>
                        <tr>
                            <th class="board-mo-th">게시판 번호</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-mo-input" name="boardNum" th:value="${boardDTO.boardNum}"
                                       readonly>
                            </td>
                        </tr>

                        <tr>
                            <th class="board-re-th">카테고리</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-modi-input" name="boardCategory"
                                       th:value="${boardDTO.boardCategory}" autocomplete="off"
                                       placeholder="모임추가, 모임변경, 모임후기, 기타" required="required">
                            </td>
                        </tr>

                        <tr>
                            <th class="board-re-th">제목</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-modi-input" name="boardTitle"
                                       th:value="${boardDTO.boardTitle}" autocomplete="off"
                                       placeholder="제목을 반드시 입력해주세요." required="required">
                            </td>
                        </tr>

                        <tr>
                            <th class="board-mo-th">내용</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
						<textarea class="bd-modi-input-co" name="boardContent" autocomplete="off"
                                  placeholder="내용을 반드시 입력해주세요."
                                  required="required">[[${boardDTO.boardContent}]]</textarea>
                            </td>
                        </tr>

                        <tr>
                            <th class="board-mo-th">작성자</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-mo-input" name="userId" th:value="${boardDTO.userId}"
                                       readonly>
                            </td>
                        </tr>

                        <tr>
                            <th class="board-mo-th">등록일</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-mo-input"
                                       th:value="${#temporals.format(boardDTO.regDate, 'yyyy-MM-dd HH:mm:ss')}"
                                       readonly>
                            </td>
                        </tr>

                        <tr>
                            <th class="board-mo-th">수정일</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-mo-input"
                                       th:value="${#temporals.format(boardDTO.updateDate, 'yyyy-MM-dd HH:mm:ss')}"
                                       readonly>
                            </td>
                        </tr>

                        <tr>
                            <th class="board-mo-th">조회수</th>
                        </tr>
                        <tr>
                            <td class="bd-mo-contain">
                                <input type="text" class="bd-mo-input" name="boardView" th:value="${boardDTO.boardView}"
                                       readonly>
                            </td>
                        </tr>
                    </table>
                    <!-- /게시판 수정 테이블 -->
                </div>
                <!-- 게시판 수정 - section -->
                <br>
                <!-- 게시판 조회 - btn -->
                <div class="board-rigi-Btn">
                    <button type="button" class="searchBtn-mi modifyBtn">수정</button>
                    <button type="button" class="searchBtn-mi removeBtn">삭제</button>
                    <button type="button" class="searchBtn-mi listBtn">목록</button>
                </div>
                <!-- 게시판 조회 - btn -->
            </form>
        </div>
        <!-- /게시판 수정 -->
<input type="hidden" class="c-num" th:value="${clubNum}">
        <script th:inline="javascript">
            /* [START] board_modify.html의 스크립트/

            /* [START] board_modify.html : 수정 확인 모달창 처리 */
            $(".modifyBtn").click(function () {
                //컨펌 창 - true&false cf)alert는 경고창
                if (!confirm("게시글을 수정하시나요?")) {
                }
                actionForm.attr("action", "/thisiswe/club/board/modify")
                    .attr("method", "post")
                    .submit();
            })
            /* [END] board_modify.html : 수정 확인 모달창 처리 */

            /* [START] board_modify.html : 삭제 확인 모달창 처리 */
            var actionForm = $("form");

            $(".removeBtn").click(function () {
                if (!confirm("게시글을 삭제하시나요?")) {
                }
                actionForm.attr("action", "/thisiswe/club/board/remove")
                    .attr("method", "post");
                //반드시 submit을 넣어줘야 삭제로 넘어간다.
                actionForm.submit();
            })
            /* [END] board_modify.html : 수정 확인 모달창 처리 */

            /* [START] board_modify.html : 목록 클릭 시, 게시판 목록으로 이동 */
            $(".listBtn").click(function () {
                // var pageInfo = $("input[name='page']");
                // var type = $("input[name='type']");
                // var keyword = $("input[name='keyword']");
                var clubnum = $(".c-num").val();
                // actionForm.empty();
                // actionForm.append(pageInfo);
                // actionForm.append(type);
                // actionForm.append(keyword);
                // actionForm.append(clubnum);
                actionForm.attr("action", "/thisiswe/club/board/?num=" + clubnum )
                    .attr("method", "get");

                actionForm.submit();
            })
            /* [END] board_modify.html : 목록 클릭 시, 게시판 목록으로 이동 */

            /* [END] board_modify.html의 스크립트 */
        </script>

    </th:block>
</th:block>		