<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">

		<!-- 게시판 읽어오기 -->
		<h1 class="">게시판 조회</h1>
		<div class="">
			<lable>번호</lable>
			<input type="text" class="" name="boardNum"
				th:value="${boardDTO.boardNum}" readonly>
		</div>
		
		<div class="">
			<lable>카테고리</lable>
			<input type="text" class="" name="boardCategory"
				th:value="${boardDTO.boardCategory}" readonly>
		</div>
		
		<div class="">
			<lable>제목</lable>
			<input type="text" class="" name="boardTitle"
				th:value="${boardDTO.boardTitle}" readonly>
		</div>

		<div class="">
				<lable>내용</lable>
				<textarea class="" rows="5" name="boardContent" readonly>
					[[${boardDTO.boardContent}]]
				</textarea>
			</div>
			
			<div class="">
				<lable>작성자</lable>
				<input type="text" class="" 
						name="userId" th:value="${boardDTO.userId}" readonly>
			</div>
			
			<div class="">
				<lable>등록일</lable>
				<input type="text" class="" name="regDate"
					th:value="${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
			</div>
			
			<div class="">
				<lable>수정일</lable>
				<input type="text" class="" name="updateDate"
					th:value="${#temporals.format(boardDTO.updateDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
			</div>
						
			<a th:href="@{/club/board/modify(boardNum=${boardDTO.boardNum}, page=${requestDTO.page},
														type=${requestDTO.type},
            											keyword=${requestDTO.keyword}
														)}">
				<button type="button" class="btn btn-info">수정</button>
			</a>
			<a th:href="@{/club/board/list (page=${requestDTO.page},
														type=${requestDTO.type},
            											keyword=${requestDTO.keyword}
            											)}">
				<button type="button" class="btn btn-secondary">목록</button>
			</a>
			<!-- 게시판 읽어오기 -->
			
			<!-- 댓글 추가 -->
			<div>
				<div class="">
					<h5><span class="badge badge-info addReply"> 댓글 추가 </span></h5>
					<h5><span class="badge badge-secondary replyCount"> 댓글 수 [[${boardDTO.replyCount}]] </span></h5>
				</div>
				<div class="list-group replyList">
				</div>
			</div>
			<!-- 댓글 추가 -->
			
			
	</th:block>
</th:block>