<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">

		<!-- 게시판 등록 -->
		<h1 class="">게시글 등록</h1>
		<form th:action="@{/club/board/register}" th:method="post">
			
			<!-- 게시판 등록 테이블 -->
			<table>
				<tr class="">
					<td>카테고리</td>
					<td>
						<input type="text" class="form-control" name="boardCategory"
							placeholder="모임추가, 모임변경, 모임후기, 기타">
					</td>
				</tr>
				
				<tr class="">
					<td>제목</td>
					<td>
						<input type="text" class="" name="boardTitle" placeholder="제목을 반드시 넣어주세요.">
					</td>
				</tr>
				
				<tr class="">
					<td>내용</td>
					<td>
						<textarea class="" rows="5" name="boardContent" placeholder="내용을 반드시 입력해주세요."></textarea>
					</td>
				</tr>
	
				<tr class="">
					<td>작성자</td>
					<td>
						<input type="text" class="" name="userId" placeholder="ID를 입력하세요.">
					</td>
				</tr>
				
			<tr class="">
					<td>조회수</td>
					<td>
						<input type="hidden" class="" name="boardView" value="0" >
					</td>
				</tr>
			</table>
			<!-- /게시판 등록 테이블 -->

			<br>
			
			<button type="submit" class="btn btn-success">등록</button>
			<button type="reset" class="btn btn-warning">취소</button>
		</form>
		<!-- /게시판 등록 -->

	</th:block>
</th:block>