<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- "~{폴더경로/파일이름::setContent(~{this::연결할 내가 지정한 변수})}" -->
<th:block
	th:replace="~{basic/basicindex::setContent(~{this::connection})}">
	<!-- 지정한 변수로 연결할 위치 -->
	<th:block th:fragment="connection">
		
	<!-- board.css 연결 -->
		<link rel="stylesheet" th:href="@{/css/board.css}" />
	<!-- /board.css 연결 -->
		
	<!-- board.js 연결 -->
		<script th:src="@{/js/board.js}"></script>
	<!-- /board.js 연결 -->
		
		<!-- 게시판 수정 -->
		<h1 class="">게시글 수정</h1>
			<form th:action="@{/thisiswe/club/board/modify(boardNum=${boardDTO.boardNum})}" th:method="post">
		 
 			<!-- <input type="hidden" name="page" th:value="${requestDTO.page}">
			<input type="hidden" name="type" th:value="${requestDTO.type}">
			<input type="hidden" name="keyword" th:value="${requestDTO.keyword}"> -->
			</form>
			 
		<!-- 게시판 수정 테이블 -->
		<table>
			<tr>
				<td>순번</td>
				<td>
					<input type="text" class="" name="boardNum" th:value="${boardDTO.boardNum}" readonly>
				</td> 
			</tr>
			
			<tr>
				<td>카테고리</td>
				<td>
					<input type="text" class="" name="boardCategory" th:value="${boardDTO.boardCategory}"
						placeholder="모임추가, 모임변경, 모임후기, 기타">
				</td> 
			</tr>
			
			<tr>
				<td>제목</td>
				<td>
					<input type="text" class="" name="boardTitle" th:value="${boardDTO.boardTitle}">
				</td> 
			</tr>
		
			<tr>
				<td>내용</td>
				<td>
					<textarea class="" rows="5" name="boardContent"> [[${boardDTO.boardContent}]]
			</textarea>
				</td> 
			</tr>
			
			<tr>
				<td>작성자</td>
				<td>
					<input type="text" class="" name="userId" th:value="${boardDTO.userId}" readonly>
				</td> 
			</tr>
			
			<tr>
				<td>등록일</td>
				<td>
					<input type="text" class="" name="regDate" 
						th:value="${#temporals.format(boardDTO.regDate, 'yyyy/MM/dd')}" readonly>
				</td>				
			</tr>
			
			<tr>
				<td>수정일</td>
				<td>
					<input type="text" class="" name="updateDate" 
						th:value="${#temporals.format(boardDTO.updateDate, 'yyyy/MM/dd')}" readonly>
				</td>				
			</tr>

			<tr>
				<td>조회수</td>
				<td>
					<input type="text" class="" name="boardView" th:value="${boardDTO.boardView}" readonly>
				</td>				
			</tr>
		
		</table>
		<!-- /게시판 수정 테이블 -->
		
		<br>
		<button type="button" class="btn btn-info modifyBtn">수정</button>
		<button type="button" class="btn btn-danger removeBtn">삭제</button>
		<button type="button" class="btn btn-secondary listBtn">목록</button>
		
		<!-- /게시판 수정 -->
		
	</th:block>		
</th:block>		